/*------------------------------------*\
    #SITE LOGO
\*------------------------------------*/

.custom-logo-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 55px;
    margin-left: 0;

    @include max-screen(1080px) {
        margin: 0;
    }



    > img {
        height: 75px;
        vertical-align: middle;
        width: auto;

        @include max-screen(1080px) {
            height: 60px;
        }
    }

    &:hover {
        text-decoration: none;
    }
}
