/*------------------------------------*\
    #BASKET
\*------------------------------------*/

.basket {
	width: 26%;
	min-width: 320px;
	padding: 90px 2.5% 0;
	position: absolute;
	background-color: white;
	height: 100%;
	right: 0;
	z-index: 25;
	transform: translateX(100%);
	transition: transform .4s ease-in-sine() .1s;

	&.is-visible {
		transform: translateX(0);
	}
}

	.basket-nav {
		display: flex;
		justify-content: space-between;
		align-content: center;
		color: $color-primary;
		margin-bottom: 73px;

		.icon-close {
			color: $base-text-color;
		}

		header {
			font-size: 19px;
		}

		button {
			padding: 10px;
		}
	}

	.products-list,
	.products-total {
		font-family: $second-font-family;
		color: $color-primary;
		font-size: 13px;
	}

	.product-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 45px 0;
		border-top: 1px solid $base-border-color;
		
		> div {
			display: flex;
			align-items: center;
		}
		
		.icon {
			color: $base-text-color;
		}

		.icon-close {
			height: 12px;
			width: 12px;
		}
	}

	.js-remove-product {
		margin-right: 30px;
	}

	.product-name {
		margin-right: 45px;
	}

	.product-number {
		margin: 0 10px;
	}

	.product-total {
		margin-left: 40px;
	}

	.products-total {
		border-top: 2px solid $color-primary;
		display: flex;
		justify-content: space-between;
		padding: 24px 0 44px;

		span {
			text-transform: uppercase;
		}
	}
