/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/


.pagination-wrapper {
    padding: 60px 0;
    width: 100%;

    @include max-screen($breakpoint-large) {

        padding: 30px 0;
    }

    ul {

        margin-left: 0;
        margin-bottom: 0;
    }

    li {

        .page-numbers {
            font-size: 13px;
            position: relative;
            padding: 10px 15px;
            font-family: $second-font-family !important;
            color: #525252;

            &:before {
                content: '';
                height: 25px;
                width: 25px;
                position: absolute;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 50%;
                z-index: -1;
                top: 7px;
                left: 7px;
            }

            &.current {
                color: white;

                &:before {
                    background-color: $color-primary;
                }
            }

        }

        &:not(:first-child,:last-child) {

            .page-numbers {

                &:hover {
                    color: #000;

                    &:before {
                        background-color: transparent;
                        border-color: $color-primary;
                    }
                }

                &.current {
                    &:hover {
                        color: $base-text-color;

                        &:before {
                            background-color: $color-primary;
                        }
                    }
                }
            }

        }
    }
}

.page-numbers {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $second-font-family;
}

    .prev-text,
    .next-text {
        font-size: 0;
    }