/*------------------------------------*\
    #IMG SLIDER
\*------------------------------------*/

.img-slider-wrap {
    margin-left: 4%;
    margin-right: 4%;
}

.img-slider,
.img-slider-caption {
       
    .owl-nav,
    .owl-dots {
        position: absolute;
    }

        .owl-prev,
        .owl-next {
            display: inline-block;

            .icon {
                transition: all .3s ease;
            }
        }

        .owl-next {
            margin-left: 20px;
        }

        .owl-dots {
            left: 2.8%;
            counter-reset: slider-num;
            font-family: $second-font-family;
            color: #fff;

            &:after {
                content: ' ' counter(slider-num);
            }
        }

            .owl-dot {
                counter-increment: slider-num;
                display: inline-block;
                
                &.active {
                    &:after {
                        content: counter(slider-num) ' of';
                    }
                }
            }

    .img-slider__item {
        height: 0;
        padding-bottom: 52.4%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .hero-slider & {
            padding-bottom: 45%;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(255,255,255,0.08) 50%, rgba(255,255,255,0));

            @include max-screen($breakpoint-medium) {

                background-color: rgba(0,0,0,.2);
            }
        }
    }
}

.img-slider {
    margin-bottom: 30px;

    .owl-nav,
    .owl-dots {
        bottom: 5.3%;
    }

    .owl-dots {
        @include max-screen($breakpoint-medium) {
            display: none;
        }
    }

    .owl-nav {
        right: 2.8%;

        @include max-screen($breakpoint-medium) {
            right: 0;
            bottom: 50%;
            transform: translate(0,-50%);
            width: 100%;
        }
    }

    .owl-next {
        @include max-screen($breakpoint-medium) {
            position: absolute;
            right: 2.8%;
        }
    }

    .owl-prev {
        @include max-screen($breakpoint-medium) {
            position: absolute;
            left: 2.8%;
        }
    }

        .owl-prev,
        .owl-next {
            display: inline-block;

            .icon {
                color: #fff;
                transition: all .3s ease;
            }

            &.disabled,
            &:hover {
                 .icon {
                    color: rgba(#fff, .4);
                }
            }
        }

        .owl-next {
            margin-left: 20px;
        }
}

.img-slider-caption {
    margin-bottom: 80px;

    .img-slider__item {
        padding-bottom: 62.3%;
    }

    .owl-nav,
    .owl-dots {
        bottom: -38px;
    }

    .owl-nav {
        right: 0;
    }

    .owl-dots {
        left: 0;
        color: $color-primary;
        font-size: 13px;
    }

    .owl-prev,
    .owl-next {
        display: inline-block;

        .icon {
            color: $color-primary;
        }

        &.disabled,
        &:hover {
             .icon {
                color: rgba($color-primary, .4);
            }
        }
    }

}


.img-slider-wrap,
.img-slider-with-caption-wrap {
    position: relative;
}

.img-slider-with-caption-wrap {
    padding-top: 28px;
}

.picture-subtitle {
    opacity: 0;
}

.subtitle-text {
    position: absolute;
    bottom: -38px;
    left: 60px;
    font-size: 13px;
    font-family: $second-font-family
}

    