/*------------------------------------*\
    #TABS
\*------------------------------------*/

.tabs {
	
}

// .magic-line {
//     position: absolute;
//     bottom: -1px;
//     height: 1px;
//     background: $color-primary;
//     transition: opacity .2s ease-out;

//     @include max-screen($breakpoint-large) {
//     	display: none !important;
//     	position: absolute;
//     	top: 0;
//     	left: 0 !important;
//     	width: 0 !important;
//     	height: 0 !important;
//     }
// }

	.tabs__item {
		padding-top: 20px;
	}

	.tabs__nav {
		position: relative;

		@include max-screen($breakpoint-large) {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
		}

		@include max-screen(520px) {
			font-size: 0;
		}

		@include max-screen($breakpoint-medium) {
			margin-bottom: -20px !important;
		}

		.entry-content & {
			margin: 0;
		}

		li {
			display: inline-block;
			
			&:not(:last-child) {
				margin-right: 50px;
			}

			@include max-screen($breakpoint-large) {
				&:not(:last-child) {
					margin-right: 0px;
				}
			}

			@include max-screen(520px) {
				width: 33.3%;
				text-align: center;
				margin-bottom: 30px;
			}
		}

			a {
				position: relative;
				text-transform: uppercase;
				font-size: 11px;
				font-family: $second-font-family;
				letter-spacing: .3em;

				&:after {
					content: '';
		            height: 1px;
		            background-color: $color-primary;
		            position: absolute;
		            top: 103%;
		            left: 50%;
		            right: 50%;
		            transition: all .25s cubic-bezier(0.215, 0.610, 0.355, 1.000) .1s;
				}

				&.is-active, &:hover {

					&:after {
						left: -5px;
						right: 0;
					}
				}

				&:hover {
					text-decoration: none;
				}

				&.is-active {
					@include max-screen($breakpoint-large) {
						text-decoration: underline;
					}
				}

				@include max-screen($breakpoint-large) {
					&:after {
						display: none;
					}
				}
			}
	}