/*------------------------------------*\
    #ARTICLE
\*------------------------------------*/

.single-post,
.page-template-default {

	article {

		h3 {
			@include max-screen($breakpoint-extralarge) {
				font-size: 19px;
			}
		}

		.entry-meta {
			text-align: center;
			font-family: $second-font-family;
			padding-bottom: 25px;

			a {
				color: $base-text-color;

				&:hover {
					text-decoration: none;
					color: #000;
				}
			}
		}

		.entry-title {
			text-align: center;
			padding-bottom: 50px;

			@include max-screen($breakpoint-large - 2) {
	    		padding-bottom: 25px;
	    	}

		}

		.wp-post-image {
			padding-bottom: 86.1%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-left: -26.4%;
	    	margin-right: -26.4%;
	    	margin-bottom: 70px;
	    	
	    	@include max-screen($breakpoint-extralarge) {
	    		margin-left: -34.8%;
    			margin-right: -34.8%;
	    		margin-bottom: 45px;
	    	}

	    	@include max-screen($breakpoint-medium) {
	    		margin-left: -15px;
	    		margin-right: -15px;
	    	}
		}

		.portrait {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		.entry-footer {
			margin: 30px 0;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}

		.entry-header {
			@include max-screen($breakpoint-extralarge) {
				margin-top: 35px;
			}
		}

		.img-slider-with-caption-wrap {
			@include max-screen($breakpoint-large) {
				margin-left: -125px;
	    		margin-right: -125px;
			}


			.owl-dots {
				@include max-screen($breakpoint-large - 2) {
					margin-left: 125px;
				}
			}

			.owl-nav {
				@include max-screen($breakpoint-large - 2) {
					margin-right: 125px;
				}

				@include max-screen($breakpoint-medium) {
					display: none;
				}
			}

			.subtitle-text {
				@include max-screen($breakpoint-large - 2) {
					margin-left: 148px;
				}
			}
		}
	}

	.tags-links,
	.share {
		
		@include max-screen($breakpoint-medium) {
			margin-bottom: 30px;
		}
	}

	@include max-screen($breakpoint-large) {

		.container--small {
			max-width: calc(464px + 60px);
		}
	}

	
	
}

	.tags-links {
		font-family: $second-font-family;
		font-size: 13px;

		span {
			text-transform: uppercase;
			color: $color-primary;
		}

		a {
			color: $base-text-color;

			&:hover {
				color: $color-primary;
			}
		}
	}


	

	

.related-articles {
	margin-top: 75px;
	position: relative;

	@include max-screen($breakpoint-large - 2) {
		margin-top: 30px;
	}

	h2 {
		font-size: 48px;
		padding-bottom: 15px;
		
		@include max-screen($breakpoint-large - 2) {
			font-size: 31px;
		}

		@include max-screen($breakpoint-medium) {
			padding-left: 30px;
		}

	}

	.grid-item {
		/* Large desktop */    
		@media (min-width: 980px) {
		  width:25%;
		}
	}
}


.commentlist,
.children {
	list-style-type: none;
}

.commentlist {
	margin-bottom: 80px;
}

.children {
	position: relative;
	margin-left: 7%;
	padding-left: 6%;

	@include max-screen($breakpoint-medium) {
		margin-left: 0;
		padding-left: 10%;
	}

	&:before {
		content: url('images/comments/replay.png');
		position: absolute;
	    left: 0;
	    top: 16px;
	}

}

.comments-title {
	margin-bottom: 43px;
}

.comments-area {
	max-width: 772px + ($spacing-unit * 2);
	margin: 100px auto;
	padding-left: $spacing-unit;
	padding-right: $spacing-unit;

	@include max-screen($breakpoint-large - 2) {
		margin: 50px auto;
	}

	@include max-screen($breakpoint-medium) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

	.comment-entry {
		display: flex;
		flex-flow: column wrap;
		position: relative;
		padding-left: 13%;
		border-bottom: 1px solid rgba($color-primary, .15);
		margin-bottom: 43px;

		@include max-screen($breakpoint-medium) {
			padding-left: 0;
		}
	}

	.avatar {
		height: 58px;
		width: 58px;
		position: absolute;
		left: 0;
		border-radius: 50%;

		@include max-screen($breakpoint-medium) {
			position: static;
			margin-bottom: 30px;
		}
	}
	
	.comment-author,
	.comment-reply {
		font-family: $second-font-family;
		text-transform: uppercase;
		color: $color-primary;
	}

	.comment-author {
		padding-bottom: 5px;


		@include max-screen($breakpoint-medium) {
			padding-bottom: 15px;
		}
	}

	.comment-date {
		font-family: $second-font-family;
		font-size: 13px;
		padding-bottom: 20px;

		@include max-screen($breakpoint-medium) {
			display: none;
		}

		a {
			color: $base-text-color;
		}
	}

	.comment-reply {
		position: absolute;
		right: 0;
		top: 29px;
		font-size: 11px;
		letter-spacing: .3em;

		@include max-screen($breakpoint-medium) {
			top: 20px;
		}
	}

	.comment-content {
		padding-bottom: 45px;
		font-size: 13px;
	}

	.comment-respond {
		
		h2 {
			padding-bottom: 8px;
		}

		.content-main & p {
			margin-bottom: 0 !important;
		}
	}

	.comment-form {

		@include max-screen($breakpoint-medium) {
			margin-bottom: -40px;
			.col-6 {
				width: 100%;
				max-width: 100%;
			}
		}
		
	}

