/*------------------------------------*\
    #RESERVATION
\*------------------------------------*/

.reservation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 115;
	background-color: #fff;
	transform: translateY(-120%);
	transition: transform .5s ease-in-out-quart();

	&.active {
		transform: translateY(0);
	}

		.icon-close {
			color: #fff;
		}

	h3 {
		padding-bottom: 8px;
		font-weight: normal;
		text-align: center;
		margin-top: 90px;
	}
}

	.btn-close-reservation {
		position: absolute;
		top: 30px;
		right: 40px;
		height: 40px;
		width: 40px;
		color: #fff;
		z-index: 20;

		@include max-screen(1080px) {
			top: 15px;
			right: 20px;
		}
	}

	.btn-close-reservation--dark {
		color: #1f2021;

		.icon-close {
			color: #1f2021;
		}
	}

	.reservation-intro {
		height: 520px;
		position: relative;
		background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;

		&:after {
			content: '';
			background-color: rgba(#000, .4);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		@include max-screen (1080px) {
			height: 410px;
		}
	}

	.reservation-info {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 10;

		@include max-screen($breakpoint-medium) {
			max-width: 290px;
		}
	}

		.reservation-heading,
		.reservation-desc {
			color: #fff;
		}

			.reservation-heading {
				padding-bottom: 20px;
				padding-top: 50px;
				font-size: 55px;

				@include max-screen(1080px) {
					font-size: 41px;
					padding-top: 30px;
				}

				@include max-screen($breakpoint-medium) {
					font-size: 25px;
					padding-bottom: 5px;
				}
			}

			.reservation-desc {
				font-size: 21px;

				span:not(.customize-partial-edit-shortcut) {
					display: block;
					color: white !important;

					a {
						color: white !important;
					}
				}


				@include max-screen($breakpoint-medium) {
					font-size: 15px;
				}
			}

			.reservation-form,
			.wpcf7-form {

				@include max-screen(1080px) {
					padding: 50px 0;
				}

				.btn {
					text-align: center;
				}

				@include max-screen($breakpoint-medium) {

					.col-6 {
						max-width: 100%;
						width: 100%;
					}
				}
			}

