/*------------------------------------*\
    #VIDEO
\*------------------------------------*/


    .video-wrap {
        display: block;
        background-size: cover;
        background-position: center;
        padding-bottom: 57.6%;
        position: relative;
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 50px;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0, .2);
        }   
    }

        .video-item {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 42px 50px;
            cursor: pointer;
        }

                .btn-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 50px;
                    width: 50px;
                    background-color: #fff;
                    border-radius: 50%;
                    margin-right: 10px;

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 8px;
                        border-color: transparent transparent transparent #1f2024;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }