/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.primary-navigation,
.secondary-navigation, .responsive-navigation {
    font-family: $second-font-family;
}

.primary-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	width: 100%;

	@include max-screen(1080px) {
        display: block;
        width: auto;
        white-space: normal;
    }

    .menu {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;

        @include max-screen(1080px) {
            display: none;
        }
    }

        .menu-item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 40px;

            }

            a {
                position: relative;
                text-transform: uppercase;
                color: $color-primary;
                letter-spacing: 0.3em;
                font-size: 13px;

                &:after {
                    content: '';
                    height: 1px;
                    background-color: $color-primary;
                    position: absolute;
                    top: 103%;
                    left: 50%;
                    right: 50%;
                    transition: all .25s cubic-bezier(0.215, 0.610, 0.355, 1.000) .1s;
                }

                &:hover {
                    text-decoration: none;

                    &:after {
                        left: -5px;
                        right: 0;
                    }
                }
            }

            &.js-reservation-trigger {
                cursor: pointer;
            }
        }

        .menu-item-has-children {
            position: relative;

            a {
                padding-bottom: 20px;
            }

            &:hover {
                a:after {
                    display: none;
                }

                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .sub-menu {
            background-color: white;
            box-shadow: 0px 9px 20px 2px rgba(51,62,80,0.15);
            min-width: 185px;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            left: -15px;
            top: 100%;
            white-space: nowrap;
            visibility: hidden;
            transform: translateY(15px);
            transition: all .3s ease-out;
            z-index: 10;

            li {
                background-color: #fff;
                display: block;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }

            a {
                display: flex;
                align-items:center;
                justify-content: space-between;
                padding: 15px 20px 15px 30px;
                font-size: 14px;
                text-transform: none;
                letter-spacing: 0;
                transition: all .3s ease-out;
                background-color: $brand-red;
                color: #fff;

                &:hover {
                    background-color: lighten($brand-red, 3%);
                }

                &:after {
                    content: '';
                    display: none;
                }
            }
        }
}        

.secondary-navigation {
    
    .menu {
        padding: 0 40px;
    }

    .menu-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.responsive-navigation {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 5;
    transition: all .2s ease;
    transform: translateY(-100vh);

    &.active {
        transform: translateY(0);
    }

    .menu {
        list-style: none;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all .2s ease;
        width: 100%;
    }

    .menu-item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-transform: uppercase;
        }
    }

    .js-btn-search {
        position: absolute;
        right: 4%;
        top: 40px;

        @include max-screen($breakpoint-medium) {
            top: 20px;
        }
    }

    .menu-item-has-children {
        width: 100%;
        
        > a {
            display: inline-block;
            margin: 0 50px;
        }
        
        .icon-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #000000 transparent transparent transparent;
            display: inline-block;
        }

        &.is-active {

            .icon-arrow {
                transform: rotate(180deg);
            }
        }
    }

    .sub-menu {
        display: none;
        margin-top: 15px;
    }
}