/* -----------------------------------------
   Top bar
   ----------------------------------------- */

.top-bar {
	background-color: white;
	border-bottom: 1px solid rgba($brand-red, .1);
	font-family: $second-font-family;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	z-index: 110;

	@include max-screen(1080px) {
		display: none;
	}

	a {
		font-size: 12px;
	}
}

	.top-bar-left {
		display: flex;
		align-items: center;

		.social-nav {
			margin-right: 0;
			padding-right: 40px;

			a {
				color: $color-primary;
				padding-right: 20px;

				&:last-child() {
					padding-right: 0;
				}

				&:hover {
					color: $color-primary;

					.icon {
						color: white;
					}
				}

				.top-bar-text & {
					background-color: transparent;
				}
			}
		}

		a {
			color: rgba(#fff, .4);

			&:hover {
				text-decoration: none;
				color: rgba($brand-red, .6);

				&:hover {
					color: rgba($brand-red, .6);
				}
			}
		}
	}

		.email-phone,
		.top-bar-right {
			display: flex;
			align-items: center;

			a {
				padding: 0 40px;
				position: relative;
				color: $color-primary;

				&:before {
					content: '';
					height: 18px;
					width: 1px;
					background-color: rgba($color-primary, .1);
					position: absolute;
					top: 0;
					left: 0;
				}

			}
		}

	.top-bar-right {


		//top bar navigation
		.main-navigation {
			margin-top: 0 !important;

			ul {
				list-style-type: none;
			}

			> ul {
				display: inline-flex;

				> li > a {
					text-transform: uppercase;
					color: $color-primary;

					&:hover {
						color: rgba($brand-red, .6);
						text-decoration: none;
					}
				}
			}

			.parent-link {
				color: rgba($brand-red, .6);
				text-transform: uppercase;
				padding-bottom: 30px;
			}

			a {
				text-decoration: none;
			}
		}

		.menu-item-has-children {
			position: relative;

			a {
				padding-bottom: 20px;
			}

			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.sub-menu {
			background-color: white;
			box-shadow: 0px 9px 20px 2px rgba(51,62,80,0.15);
			min-width: 185px;
			overflow: hidden;
			opacity: 0;
			position: absolute;
			left: -15px;
			top: 100%;
			white-space: nowrap;
	        visibility: hidden;
	        transform: translateY(15px);
	        transition: all .3s ease-out;
	        z-index: 10;

	        li {
        		background-color: #fff;
	        }

			a {
				display: flex;
        		align-items:center;
        		justify-content: space-between;
        		padding: 15px 20px 15px 30px;
        		font-size: 14px;
        		text-transform: none;
        		letter-spacing: 0;
        		transition: all .3s ease-out;

        		&:hover {
        			background-color: rgba($brand-red, .4);
        		}

				&:before {
					content: '';
					display: none;
				}
			}
		}

		> span {
			a {
				color: $color-primary;
				text-transform: uppercase;

				&:hover {
					color: rgba($brand-red, .6);
					text-decoration: none;
				}
			}
		}

		> a {
			color: rgba($brand-red, .6);
			text-transform: uppercase;

			&:hover {
				color: $color-primary;
				text-decoration: none;
			}

			&:first-child {
				&:before {
					display: none;
				}
			}

			&:last-child {
				padding: 0 0 0 40px;
			}
		}
	}