/*------------------------------------*\
    #HOMEPAGE SECTIONS
\*------------------------------------*/


.home {

	main {

		section {
			&:first-of-type {
				.info-box {
					margin-top: 50px;
				}
			}
		}
		
		
	}
}

.menu-section {
	padding-bottom: 90px;

	@include max-screen($breakpoint-large) {
        padding-bottom: 50px; 
    }

    @include max-screen($breakpoint-medium) {
        padding-bottom: 10px;
        margin: 0 15px; 
    }
}

.reservation-section {

	* {
		color: #fff;
	}
	
	.img-slider {
		margin-top: -315px;

		@include max-screen($breakpoint-large) {
			margin-top: -200px;
		}

		@include max-screen($breakpoint-medium) {
			margin-top: -75px;
		}
	}
}

	.reservation-section-top {
		background-color: $color-primary;
		padding: 130px 0 340px;

		@include max-screen($breakpoint-large) {
			padding: 70px 0 210px;
		}
	
		@include max-screen($breakpoint-medium) {
			padding: 50px 15px 20px;
		}
	}

	.today-on-menu-section {
		margin-top: 130px;
		margin-bottom: -40px;

		@include max-screen($breakpoint-large) {
	      margin-top: 70px;
	      margin-bottom: 0;

	      .flex-row--bottom {
	      	padding-bottom: 20px;
	      }
	    }

	    @include max-screen($breakpoint-medium) {
	      margin-top: 50px;

	      .flex-row--bottom {
	      	padding-bottom: 0px;
	      }
	    }
	}

	.buzz-section {
		padding: 130px 0;

		@include max-screen($breakpoint-large) {
			padding: 40px 0 90px;
		}

		@include max-screen($breakpoint-medium) {
			padding: 20px 0 50px;
			margin: 0 15px;
		}


		.grid-item {
			/* Large desktop */    
			@media (min-width: 980px) {
			  width:25%;
			}
		}

		.btn-load-more {
			clear: both;
			display: block;

			&:disabled {
				display: none;
			}
		}

		.media-heading {
			@include max-screen($breakpoint-large) {
				padding-bottom: 25px;
			}
		}

		.media-counter {
			@include max-screen($breakpoint-large) {
				margin-bottom: 10px;
			}
		}
	}

	.instagram-section {
		margin-left: 4%;
		margin-right: 4%;
	}
	