/*------------------------------------*\
    #MEDIA SLIDER
\*------------------------------------*/
 

 .media-slider-wrap {
    margin-bottom: 150px;
    margin-left: 4%;
    margin-right: 4%;
    position: relative;

    &.menu {
        @include max-screen($breakpoint-large) {
            margin-bottom: 60px;
        }

        @include max-screen($breakpoint-medium) {
            margin-bottom: 0px;
        }  
    }

    @include max-screen($breakpoint-large) {
        margin-bottom: 90px;
    }

    @include max-screen($breakpoint-medium) {
        margin-bottom: 50px;
    }
 }

 .scroll-to-next {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-family: $second-font-family;
    letter-spacing: .3em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    z-index: 2;
    -webkit-font-smoothing: antialiased;

    &:hover {
        text-decoration: none;
    }

     @include max-screen(1080px) {
       display: none;
    }


 }



.media-slider {
    
    .owl-nav,
    .owl-dots {
        position: absolute;
        bottom: 0;   
    }

    .owl-nav {
        right: 0;

        @include max-screen(720px) {
           width: 100%;
           top: 24%;
           height: 25px;
           transform: translateY(-24%);
        }
    }

        .owl-prev,
        .owl-next {
            display: inline-block;

            .icon {
                transition: all .3s ease;
                color: $color-primary;
            }

            &.disabled,
            &:hover {
                 .icon {
                    color: rgba($color-primary, .4);
                }
            }

            @include max-screen(720px) {
                position: absolute;

                .icon {
                    color: #9c9ca1;
                }
            }
        }

        .owl-next {
            margin-left: 20px;

            @include max-screen(720px) {
                margin-left: 0;
                right: 15px;
            }
        }

        .owl-prev {

            @include max-screen(720px) {
                left: 15px;
            }
        }

    .owl-stage {
        counter-reset: slide-num;
    }
}

    .media-slider__item {
        height: 0;
        width: 54%;
        padding-bottom: 41.91%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

         @include max-screen($breakpoint-extralarge) {
            width: 70%;
            padding-bottom: 51%;
        }

        @include max-screen(720px) {
           width: 100%;
           padding-bottom: 70%;
        }
    }

    .media-slider__content {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 59%;
        background: white;
        padding: 85px 70px 90px;
        
        @include max-screen($breakpoint-extralarge) {
            width: 65%;
            padding-right: 0;
            padding: 45px 49px 35px;
        }

        @include max-screen(720px) {
           position: static;
           width: 100%;
           padding: 30px 0 0 0;
           text-align: center;
        }

        .price,
        .meal-category {
            display: block;
            font-family: $second-font-family;
            color: $color-primary;
            letter-spacing: .3em;
        }

        .price {
            margin-top: -7px;
            margin-bottom: 44px;

            @include max-screen($breakpoint-large) {
                margin-bottom: 24px;
            }
        }

        .meal-category {
            padding: 20px 0 10px;
            text-transform: uppercase;
            font-size: 13px;

            @include max-screen($breakpoint-large) {
                padding: 10px 0;
            }
        }
    }

            .media-slider-heading {
                font-size: 65px;
                margin-bottom: 37px;

                @include max-screen($breakpoint-laptop) {
                    font-size: 55px;
                }

                @include max-screen($breakpoint-extralarge) {
                    font-size: 41px;
                }

                @include max-screen($breakpoint-large) {
                   margin-bottom: 22px;
                }

                @include max-screen(720px) {
                   font-size: 31px;
                }
                
                span {
                   
                }
            }

            .media-slider-count {
                font-family: $second-font-family;

                 @include max-screen(720px) {
                   padding-bottom: 20px;
                }
            }