/*------------------------------------*\
    #CONTACT
\*------------------------------------*/

.contact-wrap {
	position: relative;
}

	.page-template-template-contact {
		form {
			h3 {
			padding-bottom: 8px;
			font-weight: normal;
			text-align: center;
			margin-top: 90px;
		}

			@include max-screen(1080px) {
				padding: 50px 0 0;
			}

			@include max-screen($breakpoint-medium) {
				margin: 0 15px;
			}
		}
	}

	.contact {
		margin: 60px 70px 0;
		padding-bottom: 38%;
		background-size: cover;
		background-position: center;
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.3);
			position: absolute;
			left: 0;
			top: 0;
		}

		@include max-screen(940px) {
			padding-bottom: 83.34%;
			margin: 20px 0 0;
		}

		@include max-screen($breakpoint-medium) {
			margin: 0;
			padding-bottom: 46.88%;
		}
	}

		.contact-info {
			font-family: $second-font-family;
			padding: 85px 70px 0;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: $brand-red;
			width: 521px;
			max-width: 100%;
			text-align: center;
			margin-top: -3.4%;
			z-index: 2;

			@include max-screen($breakpoint-large) {
				padding: 60px 45px 0px;
				width: 464px;
			}

			@include max-screen($breakpoint-medium) {
				position: static;
				transform: none;
				width: 100%;
				margin-top: 0;
			}
		}

			.contact-address {
				font-style: normal;
				padding-bottom: 85px;
				
				> * {
					display: block;
					color: #fff;
				}

				@include max-screen($breakpoint-large) {
					padding-bottom: 65px;
				}
			}

				.contact-email {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}

				.contact-name,
				.contact-phone,
				.contact-directions {
					color: #fff;
				}

				.contact-name {
					padding-bottom: 20px;
				}

				.contact-phone {
					padding-top: 20px;
				}

				.contact-directions {
					border-top: 1px solid rgba(#fff, .2);
					display: block;
					padding: 45px 0;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: .3em;

					@include max-screen($breakpoint-large) {
						padding: 40px 0;
					}
				}

	#map {
		width: 100%;
		height: 400px;
		margin-top: 70px;
	}