/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

.media {
    @include max-screen($breakpoint-extralarge) {
        text-align: center;
    }

    &.text-right {
        @include max-screen($breakpoint-extralarge) {
            text-align: center !important;
        }
    }
}

    .media-white {
        .media-counter,
        .media-heading,
        .media-text {
            color: #fff;
            border-color: #fff;
        }

        .media-text {
            margin-bottom: 0 !important;
        }
    }

    .media-center {
        text-align: center;

        .media-counter {
            margin: 0 auto;
        }
    }

    .content-main .menu-section .media .media-text,
    .media-text {
        font-family: $second-font-family;
        margin-bottom: 65px !important;
    }

    .media-img {
        padding-bottom: 67.7%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include max-screen($breakpoint-extralarge) {
            margin-bottom: 30px;
        }

        @include max-screen($breakpoint-medium) {
            margin-bottom: 10px;

            .menu-section & {
                margin: 0 -15px; 
            }
        }
    }

    .media-counter {
        height: 37px;
        width: 37px;
        line-height: 35px;
        text-align: center;
        font-family: $second-font-family;
        border-radius: 50%;
        border: 1px solid $base-text-color;
        margin-bottom: 10px;
        counter-increment: section-count;

        &:before {
            content: counter(section-count);
        }

        @include max-screen($breakpoint-extralarge) {
            margin: 0 auto 10px;
        }
    }

    .media-heading {
        font-size: 55px;
        padding-bottom: 15px;
        text-transform: lowercase;

        @include max-screen($breakpoint-medium) {
            padding-bottom: 4px;
            font-size: 31px;
        }
    }

    .media-header {
        font-weight: normal;
        padding-bottom: 15px;
        border-bottom: 2px solid $color-primary;
        margin-bottom: 25px;
    }

    .media-text {

        @include max-screen($breakpoint-extralarge) {
            margin-bottom: 50px;
        } 

        @include max-screen($breakpoint-medium) {
            font-size: 13px; 
        }
    }

    .media-list {
        font-family: $second-font-family;
        
        //align list items bottom
        &.media-list--bottom {
            .media-list__item {
                 align-items: flex-end;
            }
        }

        //align list items in center
        &.media-list--center {
            .media-list__item {
                 align-items: center;
                 padding: 20px 0;
            }
        }
    }

        .media-list__item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $base-border-color;
            padding: 15px 0;
        }

        .media-item__part {

            &:last-child {
                color: $color-primary;
                flex-shrink: 0;
                padding-left: 30px;
            }
        }


