/*------------------------------------*\
    #VALIDATE STYLE
\*------------------------------------*/

 .wpcf7 {
 	position: relative;
 }

 	.wpcf7-response-output {
 		margin: 0 !important;
 		padding: 15px 0 !important;
 		color: white;
 		text-align: center;
 		font-size: 13px;
 		width: 100%;
 		position: absolute;
 		top: 25px;
 		font-family: $second-font-family;

 		.reservation & {
 			position: relative;
 			top: 0;
 		}
 	}

 		.wpcf7-validation-errors {
 			background-color: #e64f4f;
 		}

 		.wpcf7-not-valid-tip {
 			color: #e64f4f;
 			position: relative;
 			top: 10px;
 			font-family: $second-font-family;
 			font-size: 13px;
 		}

 		.wpcf7-mail-sent-ok {
 			background-color: #00ac4d;
 		}

 		.wpcf7-mail-sent-ok, .wpcf7-validation-errors {
 			border: none !important;
 		}