/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

.header-main {
	position: fixed;
	backface-visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255,255,255,0.8);
	z-index: 100;

	.has-top-bar & {
		position: absolute;
		top: 43px;

		@include max-screen(1080px) {
			position: fixed;
			top: 0;
		}
	}

	@include max-screen(1080px) {
		padding: 10px 4%;
	}

	.hide-top-bar & {
		position: fixed;
		top: 0;
	}

	.js-btn-search {

        @include max-screen(1080px) {
        	display: none;
        }
    }
}


.burger {
	width: 13px;
	height: 2px;
	background-color: #1f2120;
	display: inline-block;
	position: absolute;
	transition: all .2s ease;
	z-index: 6;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	&:after, &:before {
		content: '';
		display: block;
		height: 2px;
		background-color: #1f2120;
		position: absolute;
		left: 0;
		transition: all .2s ease;
	}

	&:before {
		width: 20px;
		bottom: 5px;
	}

	&:after {
		width: 18px;
		top: 5px;
	}

	&.active {
		background-color: transparent;

		&:before {
			transform: rotate(45deg);
			bottom: 0;
		}

		&:after {
			transform: rotate(-45deg);
			top: 0;
			width: 20px;
		}
	}
}

.js-btn-burger {
	display: none;
	width: 20px;
	height: 20px;
	position: relative;

	@include max-screen(1080px) {
		display: inline-block;
	}
}
