/*------------------------------------*\
    #PRIMARY BUTTON
\*------------------------------------*/

$btn-primary-height:                        48px;


/**
 * Buttons.
 */
.btn--primary,
.btn--secondary {   
    color: #000;
    letter-spacing: .3em;
    font-weight: normal;
    height: $btn-primary-height;
    line-height: $btn-primary-height;
    padding: 0 40px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $second-font-family;
    transition: all .3s ease;

    /**
     * @disabled
     */
    &:disabled {
        opacity: 0.5;
        cursor: default !important;
    }

    @include max-screen($breakpoint-medium) {
        width: 100%;
    }
}

.btn--primary {
    border: 1px solid $color-primary;

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: $color-primary;
            color: #fff;
        }
    }

}

.btn--secondary {
    background-color: $color-primary;
    border: 1px solid transparent;
    color: #fff;

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: transparent;
            color: #000;
            border-color: $color-primary;
        }
    }
}

.btn--white {
    color: #fff;
    border-color: #fff;

     /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: #fff;
            color: #000;
            border-color: $color-primary;
        }
    }
}

.gallery {
    @include max-screen($breakpoint-medium) {
        margin: 25px 0 30px;
    }
}

.btn--event {
    @include max-screen($breakpoint-large) {
        margin-bottom: 65px;
    }
}
