/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/

 $animation-delay:                           .3s;


//fade in from bottom animation 
.fade-in-bottom {

    > * {
        opacity: 0;
        transform: translateY(30px);
        transition: transform .65s cubic-bezier(0.07, 0.34, 0.15, 1) .2s,
        opacity .65s cubic-bezier(0.07, 0.34, 0.15, 1) .2s;
        transition-delay: .3s;
    }


    .active &,
    &.in-view {

        > * {
            transition-delay: $animation-delay;
            opacity: 1;
            transform: translateY(0);
          
           
            &:nth-child(2) {
                transition-delay: $animation-delay + .1;
            }

            &:nth-child(3) {
                transition-delay: $animation-delay + .2;
            }

            &:nth-child(4) {
                transition-delay: $animation-delay + .3;
            }

            &:nth-child(5) {
                transition-delay: $animation-delay + .4;
            }
        }
    }
}

//fade in from top animation 
.fade-in-top {

    > * {
        opacity: 0;
        transform: translateY(-20px);
        transition: transform .6s cubic-bezier(0.07, 0.34, 0.15, 1) .3s,
        opacity 1s cubic-bezier(0.07, 0.34, 0.15, 1) .3s;
        transition-delay: .3s;
    }


    .active &,
    &.in-view {

        > * {
            transition-delay: $animation-delay;
            opacity: 1;
            transform: translateY(0);
          
           
            &:nth-child(2) {
                transition-delay: $animation-delay + .2;
            }

            &:nth-child(3) {
                transition-delay: $animation-delay + .4;
            }

            &:nth-child(4) {
                transition-delay: $animation-delay + .6;
            }

            &:nth-child(5) {
                transition-delay: $animation-delay + .8;
            }
        }
    }
}

//fade from top animation 

$animation-delay-home: .6s; 

.fade-top {

    > * {
        opacity: 0;
        transform: translateY(-15px);
        transition: transform 1.2s ease .3s,
        opacity 1.1s ease .3s;
    }


    .active &,
    &.in-view {

        > * {
            transition-delay: $animation-delay-home;
            opacity: 1;
            transform: translateY(0);
          
           
            &:nth-child(2) {
                transition-delay: $animation-delay-home + .2;
            }

            &:nth-child(3) {
                transition-delay: $animation-delay-home + .3;
            }

            &:nth-child(4) {
                transition-delay: $animation-delay-home + .4;
            }

            &:nth-child(5) {
                transition-delay: $animation-delay-home + .5;
            }
            &:nth-child(6) {
                transition-delay: $animation-delay-home + .6;
            }
            &:nth-child(7) {
                transition-delay: $animation-delay-home + .7;
            }
            &:nth-child(8) {
                transition-delay: $animation-delay-home + .8;
            }
            &:nth-child(9) {
                transition-delay: $animation-delay-home + .9;
            }
            &:nth-child(10) {
                transition-delay: $animation-delay-home + 1;
            }
        }
    }
}

//fade in animation
.fade-in {

    > * {
       opacity: 0;
       transition: opacity 2s ease .2s;
    }


    .active &,
    &.in-view {

        > * {
            opacity: 1;
            transition-delay: $animation-delay;
          
           
            &:nth-child(2) {
                transition-delay: $animation-delay + .2;
            }

            &:nth-child(3) {
                transition-delay: $animation-delay + .4;
            }

            &:nth-child(4) {
                transition-delay: $animation-delay + .6;
            }

            &:nth-child(5) {
                transition-delay: $animation-delay + .8;
            }

            &:nth-child(6) {
                transition-delay: $animation-delay + .9;
            }

            &:nth-child(7) {
                transition-delay: $animation-delay + 1.1;
            }

            &:nth-child(8) {
                transition-delay: $animation-delay + 1.3;
            }
        }
    }
}

//responsive-navigation

.responsive-navigation {
    li {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
        transition: opacity .3s ease, transform .4s ease;
    }

    &.active {
        li {
            transform: translate3d(0,0,0);
            opacity: 1;
            transition-delay: .1s;

            &:nth-child(2) {
                transition-delay: .2s;
            }

            &:nth-child(3) {
                transition-delay: .3s;
            }

            &:nth-child(4) {
                transition-delay: .4s;
            }

            &:nth-child(5) {
                transition-delay: .5s;
            }

            &:nth-child(6) {
                transition-delay: .6s;
            }
        }
    }
}