/*------------------------------------*\
    #EVENTS MAIN AND INNNER
\*------------------------------------*/

.event-item {

    h3 {
        @include max-screen($breakpoint-medium) {
            font-size: 21px;
        }
    }
}

.event-item-full {

    @include max-screen($breakpoint-large) {
        margin-bottom: 45px;
    }

    @include max-screen($breakpoint-medium) {
        margin: 0 -4% 75px;
    }

    .event-title {
        line-height: normal;

        @include max-screen($breakpoint-medium) {
            font-size: 25px;
        }
    }

    .event-location {
        display: block;

        &:last-of-type {
            margin-bottom: 60px;
        }

        @include max-screen($breakpoint-large) {

            &:last-of-type {
                margin-bottom: 40px;
            }
        }
    }

    .event-item-image {
        padding-bottom: 58.8%;

        @include max-screen($breakpoint-large) {
            margin-left: -25px;
            margin-right: -25px;
        }
    }

    .event-description {
        margin-bottom: 55px;

        @include max-screen($breakpoint-medium) {
            margin-bottom: 45px;
        }
    }

    .share {
        height: 48px;
        line-height: 48px;
        display: inline-block;
        padding: 0 40px;
        margin-right: 15px;
        border: 1px solid $color-primary;
        color: $color-primary;
    }
}

    .event-info {
        background-color: #fff;
        text-align: center;
        margin-right: 8.47%;
        margin-left: 8.47%;
        margin-top: -8.47%;
        padding: 0 50px;

        @include max-screen($breakpoint-large) {
            margin-left: 0;
            margin-right: 0;
        }

        @include max-screen($breakpoint-medium) {
            padding: 0 4%;
        }
    }

    .event-icon {
        padding-top: 70px;
        padding-bottom: 50px;
        color: #000;

        @include max-screen($breakpoint-medium) {
            padding-top: 55px;
            padding-bottom: 35px;
        }
    }

.event-item-image {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .event-time {
        display: flex;
        justify-content: space-between;
        font-family: $second-font-family;
        padding: 25px 0;
        border-bottom: 1px solid $base-border-color;

        time {
            font-size: 13px;
            &:last-child {
                color: $color-primary;
                text-transform: uppercase;
            }
        }
    }

    .event-desc {
        padding: 25px 0;
        border-bottom: 2px solid $color-primary;
        height: 144px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .event-title {
        line-height: 1.46em;
        margin-bottom: 10px;
    }

    .event-location {
        font-family: $second-font-family;
        font-size: 13px;
    }

    .event-more-info {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: $second-font-family;
        font-size: 11px;
        letter-spacing: .3em;

        @include max-screen($breakpoint-large) {
            padding: 25px 0 15px;
        }

        @include max-screen($breakpoint-medium) {
            padding: 25px 0 0px;

        }
    }

    .grid-item.past {
        .event-item-image {
            filter: grayscale(100%);
        }
    }

