/*------------------------------------*\
    #FOOTER MAIN
\*------------------------------------*/

.footer-main {
	position: absolute;
	// bottom: 0px;
  	width: 100%;
  	clear: both;
  	overflow-x: hidden;
}

.footer-inner-wrap {
	padding: 50px 70px;
	font-family: $second-font-family;
	position: relative;

	@include max-screen(1220px) {
		padding: 25px 25px 0;
	}

	@include max-screen(630px) {
		padding: 25px 15px 0;
	}

	a {
		color: $base-text-color;
		font-size: 13px;
		transition: all .4s ease;

		&:hover {
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.logo-address {
	padding-bottom: 41px;
	display: flex;
	align-items: flex-end;

	@include max-screen(1220px) {
		flex-direction: column;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid rgba(31, 32, 33, 0.15);
		padding-bottom: 45px;
	}	
}

	.contact-data {
		font-size: 13px;
		font-style: normal;
		margin-left: 30px;
    	margin-bottom: -7px;

    	@include min-screen(1440px) {
    		position: absolute;
    		bottom: 70px;
    		left: 40px;
    	}

    	@include max-screen(1220px) {
			text-align: center;
			margin-bottom: 0;
		    margin-left: 0;
		    margin-top: 25px;
		}	

		.address {
			display: block;
			padding-bottom: 5px;
		}
	}

	.address-holder {
		@include max-screen(1439px) {
			display: none;
		}
	}

	.footer-top {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $base-border-color;
		align-items: flex-end;

		@include max-screen(1220px) {
			flex-direction: column;
			align-items: center;
		}	

		.custom-logo-link {
			margin: 0;

			@include max-screen(1220px) {
				img {
					height: 25px;
				}
			}	
		}

		.js-reservation-trigger {
            cursor: pointer;
        }

        .v-line {
        	&:before {
        		top: auto;
        		bottom: 0;
        	}
        }

        .secondary-navigation {
        	padding-bottom: 35px;

        	@include max-screen(1220px) {
        		padding-bottom: 0;
        		width: 100%;
        		text-align: center;

				&:before {
					display: none;
				}

				.menu {
					padding: 42px 0 45px;
				}
			}	
        }

        .menu {
        	@include max-screen(630px) {
				display: flex;
				flex-flow: row wrap;
				text-align: center;
				padding: 37px 0 40px;

				.menu-item {
					margin: 0 !important;
					width: 50%;
					padding: 5px 0;
				}
			}	
        }
	}

	.footer-bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;

		@include max-screen(1439px) {
			justify-content: flex-end;
		}	
	}

		.footer-bottom-right {
			display: inline-flex;

			@include max-screen(1439px) {
				display: flex;
			    justify-content: space-between;
			    width: 100%;
			}	

			@include max-screen(1220px) {
				flex-direction: column;
				align-items: center;
			}	

			.wrap {
			    display: flex;
				align-items: center;
				position: relative;
				padding-left: 30px;

				&:before {
					content: '';
				    height: 90px;
				    width: 1px;
				    position: absolute;
				    left: 0px;
				    top: 0px;
				    background-color: rgba(31, 32, 33, 0.15);

				    @include max-screen(1220px) {
						display: none;
					}
				}

				@include max-screen(1220px) {
					width: 100%;
				    border-top: 1px solid $base-border-color;
				    padding: 35px 0;
				    justify-content: center;

				    a {
				    	width: 50%;
				    	text-align: center;
				    	padding-left: 30px;

				    	@include max-screen(1220px) {
							padding: 0;
						}
				    }
				}


				@include max-screen(630px) {
					flex-direction: column;
				}	
			}
		}

			.social-links,
			.subscribe,
			.back-to-top {
				padding: 35px;
			}

			.social-links {
				list-style-type: none;

				@include max-screen(1439px) {
					padding-left: 0;

					&:before {
						display: none;
					}
				}

				@include max-screen(1220px) {
					padding: 42px 0 45px;
				}

				@include max-screen(630px) {
					display: flex;
					flex-flow: row wrap;
					text-align: center;
					padding: 37px 0 40px;

					li {
						margin: 0 !important;
						width: 50%;
						padding: 5px 0;
					}
				}

				li {
					display: inline-block;

					&:not(:last-child) {
						margin-right: 40px;
					}
				}
			}

			.subscribe {
				@include max-screen(1220px) {
					&:before {
						display: none;
					}
				}
			}

			.back-to-top {
				@include max-screen(1220px) {
					padding-right: 0;
				}

				@include max-screen(630px) {
					border-top: 1px solid $base-border-color;

					&:before {
						display: none;
					}
				}
			}

			.newsletter {
				position: absolute;
				width: 100%;
				background-color: #fff;
				top: 0;
				bottom: 0;
				left: calc(100% + 70px);
				display: flex;
				transition: left .4s ease-in-sine();

				@include max-screen(1220px) {
					top: auto;
					height: 90px;
				}

				@include max-screen(630px) {
					height: 215px;
				}	

				&.newsletter-opened {
					left: 0;
				}
			}

				.newsletter-form {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					width: 100%;

					@include max-screen(630px) {
						justify-content: center;
						align-items: center;
						align-content: center;

						.input {
							text-align: center;
						}
					}	

					.input {
						border-bottom: none;
						box-shadow: none;
						min-width: 65%;
						width: auto;

						@include max-screen(460px) {
							margin-bottom: 25px;
						}	

						&:focus,
						&:hover {
							box-shadow: none;
						}
						
						//remove yellow autocomplete background on Google chorme
						&:-webkit-autofill {
							-webkit-box-shadow: 0 0 0 1000px white inset !important;
						}

					}
				}

				.newsletter-inner-wrap {
					display: inline-flex;
					align-items:center;

					.icon {
						margin-right: 20px;
					}
				}


//subscribe messages

.subscribe-message-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

	.subscribe-message__text {
		font-size: 35px;
		font-family: $second-font-family;
		color: $color-primary;

		@include max-screen($breakpoint-medium) {
    		font-size: 25px;
   		}
	}

	.subscribe-message__close {
		display: block;
		text-align: center;
		margin-top: 60px;

		.subscribe-message--success & {
			display: none;
		}

		.icon-close {
			width: 24px;
			height: 24px;
		}
	}