/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

/**
 * Base input styles.
 */
.input {
    -webkit-appearance: none;       /* removing inner shadow on iOS inputs */
    -webkit-font-smoothing: inherit;
    box-sizing: border-box;
    transition: all .4s ease;
    background: none;
    border: none;
    color: $color-primary;
    display: inline-block;
    font-family: $second-font-family;
    font-size: 13px;
    padding: 0;                     /* remove browser defaults */
    vertical-align: middle;
    width: 100%;

    &:invalid {
        box-shadow: none;  /* fixes mozilla red outline (shadow) */
    }

    &[readonly] {
        cursor: text;
    }

    &::-ms-clear {
        display: none; /* remove IE clear icon */
    }

    @include placeholder {
        color: $base-text-color;
    }

    &:focus {
        @include placeholder {
            transition: .3s ease-in-cubic() .2s;
            opacity: 0;
        }
    }
    
    /**
     * @focus
     */
    &:focus,
    &:hover {
        border-color: $color-primary;
        box-shadow: 0px 1px 0px 0px $color-primary;
    }
}

/**
 * Primary input.
 */
.input--primary,
%input--primary {
    padding: 15px 0; 
    border-bottom: 1px solid rgba($color-primary, .15);
    /**
     * @hover
     */
    &:hover {
    }

    /**
     * Error state.
     */
    .is-error &,
    &.is-error {
        border-color: #ff8688;
    }
}

/**
 * Textarea input.
 */
.input--textarea {
    overflow: hidden;
    resize: none;
    min-height: 0;
    border-bottom: 1px solid rgba($color-primary, .15);

    &#comment {
        padding-bottom: 0;
    }

    /**
     * @focus
     */
    &:focus {
        min-height: 60px;
        
        @include placeholder {
            transition: .3s ease-in-cubic() .2s;
            opacity: 0;
        }
    }

    &:focus,
    &:hover {
        border-color: $color-primary;
    }
}
