/*------------------------------------*\
    #SEARCH
\*------------------------------------*/

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    transition: all .3s ease .1s;
    z-index: 10;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    &.inactive {
        transition-delay: .5s;
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    span {
        display: block;
        font-size: 13px;
        margin-top: 50px;
        color: $color-primary;
        font-family: $second-font-family;
    }
}

    .btn-close-search {
        position: absolute;
        top: 88px;
        left: 70px;

        @include max-screen(1080px) {
            top: 40px;
            left: 92%;
        }

        @include max-screen($breakpoint-medium) {
            top: 20px;
        }
    }

    .search-form {
        width: 100%;
        
        label {
            display: block;
        }
    }
    
        .search-field {
            font-size: 90px;
            text-align: center;
            width: 72%;
            color: rgba(#85878a, .5);
            border-bottom: 1px solid rgba($color-primary, .15);

            @include starterized-input-placeholder {
               color: rgba(#85878a, .5);
            }

            &:focus {
                @include starterized-input-placeholder {
                    opacity: 0;
                    transition: opacity .3s ease .3s;
                }
            }

            @include max-screen($breakpoint-medium) {
                font-size: 31px;
                padding-bottom: 20px;
            }

        }


    /**
     * This class adding black overlay on body element when search is opened
     */
    .content-overlay {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .6);
        z-index: 10;
        transition: all .5s ease;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
