/*------------------------------------*\
    #INFO BOX
\*------------------------------------*/

 .info-box {
    max-width: 772px;
    margin: 100px auto;
    text-align: center;
    color: #000;
    font-size: 18px;

    &.info-box--white {
        color: #fff;
    }

    .restaurant-info & {
        margin: 0 auto;

        .content-main & p {
            margin-bottom: 0 !important;
        }
    }

    span {
        display: block;
    }

    @include max-screen(850px) {
        padding: 0 25px;
    }

    @include max-screen($breakpoint-large) {
        margin: 0 auto 80px;
    }

    @include max-screen($breakpoint-medium) {
        margin: 0 auto 50px;
        padding: 0 30px; 
    }

    p {
        @include max-screen($breakpoint-medium) {
            font-size: 15px;
        }
    }
 }

    .info-box__icon {
        margin-bottom: 43px;

        @include max-screen($breakpoint-medium) {
            margin-bottom: 33px;
        }
    }

    .restaurant-info {
        background-color: $color-primary;
        padding: 100px 15px;
        margin-top: 110px;

        @include max-screen($breakpoint-large) {
            margin-top: 90px;
            margin-bottom: 65px;
        }

        @include max-screen($breakpoint-medium) {
            margin-top: 20px;
            margin-bottom: 25px;
            padding: 50px 0;
            font-size: 15px;
        }
    }

    