/*------------------------------------*\
    #RECIPES
\*------------------------------------*/

.recipe {
	padding-top: 35px;

	[class^="col"] {
		padding-bottom: 50px;
	}

	.media {
		text-align: left;

		.media-list__item {
			font-size: 13px;
		}
	}

	.col-7 {
		@include max-screen($breakpoint-medium) {
			padding-bottom: 25px;
		}	
	}
}

	.recipe-info,
	.recipe-name {
		text-align: center;
	}
	
	.recipe-info {
		text-align: center;
		font-family: $second-font-family;
		padding-bottom: 10px;
	}

	.recipe-name {
		font-weight: normal;
	}