/*------------------------------------*\
    #ORDER MENU
\*------------------------------------*/

.order-menu {
	border-top: 2px solid $color-primary;
}

	.order-menu-heading {
		padding: 20px 0 24px;
		border-bottom: 2px solid $color-primary;
		margin-bottom: 0;

		@include max-screen($breakpoint-medium) {
			text-align: center;
			font-size: 21px;
		}
	}

	.order-menu-item-wrap {

		&:not(:last-child) {
			border-bottom: 1px solid $base-border-color;
		}

		&.is-active {
			border-bottom: none;
		}

		@include max-screen($breakpoint-medium) {
			text-align: center;
		}
	}

	.order-menu-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 0;
		font-family: $second-font-family;

		@include max-screen($breakpoint-medium) {
			display: block;
		}
	}

		.item-info {
			display: flex;
			align-items: center;
			cursor: pointer;

			&.is-active {
				
				.item-image {
					transition: all .3s ease-in .2s;
					transform: scale(0);
					height: 0;
					width: 0;
					margin: 0;

					@include max-screen($breakpoint-medium) {
						margin: 0 auto;
					}
				}
			}

			@include max-screen($breakpoint-medium) {
				display: block;
			}
		}

			.item-image {
				width: 58px;
				height: 58px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 50%;
				margin-right: 40px;
				flex-shrink: 0;
				position: relative;
				transition: 0.4s ease-in .6s;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: rgba(#000, .3);
					border-radius: 50%;
				}

				@include max-screen($breakpoint-medium) {
					margin: 0 auto 30px;
				}
			}

			.item-desc {

				span {
					cursor: default;

					@include max-screen($breakpoint-medium) {
						margin: 0 15px;
						text-align: center;
						display: block;
					}
				}

				h5 {
					font-family: $second-font-family;
					text-transform: uppercase;
					font-weight: normal;
					margin-bottom: 10px;
				}
			}

				.item-price {
					font-family: $second-font-family;
					color: #fff;
					font-size: 14px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					&.item-price-black {
						transform: none;
						left: auto;
						top: 4%;
    					right: 2.6%;
						background-color: $color-primary;
						height: 46px;
						width: 46px;
						line-height: 46px;
						text-align: center;
						border-radius: 50%;
					}
				}

		.item-order {
			padding: 4px 10px;
			margin-left: 20px;
			border: 1px solid $base-border-color;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: .3em;
			white-space: nowrap;

			&.in-basket {
				background-color: #52c043;
				color: #fff;
				border-color: transparent;

				&:hover {
					background-color: #52c043;
				}
			}

			&:hover {
				text-decoration: none;
				background-color: $color-primary;
				color: #fff;
			}

			@include max-screen($breakpoint-medium) {
				margin-top: 25px;
				display: inline-block;
				margin-left: 0;
			}
		}

		.item-image-full {
			position: relative;
			display: none;

			img {
				margin-bottom: 0 !important;
			}
		}

