/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/

//Colors
$color-primary:									#1f2021;
$brand-red: 									#8A323E;

// Basic styles
$base-background-color:                         #fff;
$base-border-color:                             rgba(#1f2021, .15);
$base-border-radius:                            2px;
$base-font-family:                              'Open Sans', sans-serif;
$second-font-family:                            'Open Sans', sans-serif;
$base-font-size:                                15px;
$base-line-height:                              23px;
$base-link-color:                               $color-primary;
$base-selection-background-color:               rgba(#329bdd, .7);
$base-selection-text-color:                     #fff;
$base-text-color:                               #1f2021;
$second-text-color:                             #85878a;
$base-title-color:                              #1f2021;
$second-title-color:                            #fff;




// Layout
$spacing-unit:                                  $base-line-height;
$spacing-unit--small:                           round($spacing-unit / 2);
$page-max-width:                                1180px;


// Breakpoints
$breakpoint-medium:                             481px;
$breakpoint-large:                              769px;
$breakpoint-extralarge:                         1025px;
$breakpoint-laptop:                             1280px;


// Inuit breakpoints
$breakpoints: (
    "medium"           "screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})",
    "medium-and-up"    "screen and (min-width: #{$breakpoint-medium})",
    "large"           "screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-extralarge - 1})",
    "large-and-up"    "screen and (min-width: #{$breakpoint-large})",
    "extralarge-and-up"    "screen and (min-width: #{$breakpoint-extralarge})",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
);

