{% extends "./_templates/template.default.html" %}
{% set title = "Blog inner" %}
{% set page = "single-post" %}
{% set blog = true %}

{% block content %}
	{% include "_partials/partial.header.html" %}

  		<main>
  			<div class="container container--small">
	  			<article>
	  				<header class="entry-header">
						<div class="entry-meta">
							<span class="posted-on">
								<a href="javascript:;" rel="bookmark">
									<time class="entry-date published" datetime="2016-07-03T01:25:16+00:00">July 3, 2016</time>
								</a>
							</span>
							<span class="byline"> 
								<span class="author vcard">
									/ By <a href="javascript:;">Michael Browne</a>
								</span>
							</span>
						</div><!-- /.entry-meta -->
	  					<h1 class="entry-title">Phasellus Metus Odio Pellentesque Vitae Ferment Eget Fringilla</h1><!-- /.entry-title -->
	  					<div class="wp-post-image img-to-bgr-half" style="background-image: url('images/home/featured-image.jpg');"></div><!-- /.wp-post-image -->
	  				</header>
	  				<div class="entry-content">
	  					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas rutrum faucibus. Nunc sem turpis, tempus in dignissim ac, luctus vitae turpis. In vel placerat augue, ut vestibulum sapien. Nulla facilisi. Fusce finibus sed elit non gravida. Mauris egestas eros ante, sed efficitur tortor efficitur eget. </p><!-- /.lead -->
	  					<p>Phasellus iaculis porttitor nulla, nec iaculis tortor. Integer sagittis justo tellus, sit amet aliquet magna scelerisque et. Etiam nulla neque, pellentesque id ultrices vitae, luctus at orci. Nam sed vulputate dui, at blandit metus. Aenean a justo enim. Praesent vel nisl a ante <a href="javascript">commodo blandit</a>. Etiam nunc ligula, lobortis id orci at, egestas efficitur turpis. Donec vehicula at lorem eu sagittis. Sed imperdiet finibus augue in porta. Mauris et vehicula lectus. Fusce elit eros, interdum et turpis quis, posuere dignissim lacus. </p>

						<p>Cras mattis imperdiet enim, sit amet consectetur erat posuere convallis. Vivamus vel dapibus odio. Mauris rhoncus rhoncus purus nec fermentum. Nullam pellentesque, augue a tempus pharetra, urna nulla cursus magna, at hendrerit lorem urna et massa. Sed lorem velit, euismod quis iaculis ut, semper vitae mauris. Praesent auctor vel nisi eu porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at suscipit magna. Pellentesque commodo consequat lobortis. Vivamus quis arcu quis metus sollicitudin tempus eu sit amet felis. Nulla ut mi ac magna ultricies luctus. Vivamus ac tristique eros, vel pharetra lorem. Aenean vitae scelerisque neque, ut iaculis turpis. </p>

						<!-- Image slider with caption -->
						<div class="img-slider-with-caption-wrap">
							<div class="owl-carousel img-slider-caption">
								<div class="img-slider__item" style="background-image: url('images/content-slider/slide-1.jpg');">
									<div class="picture-subtitle">Picture subtitle 1</div>
								</div>
								<div class="img-slider__item" style="background-image: url('images/content-slider/slide-2.jpg');">
									<div class="picture-subtitle">Picture subtitle 2</div>
								</div>
								<div class="img-slider__item" style="background-image: url('images/content-slider/slide-3.jpg');">
									<div class="picture-subtitle">Picture subtitle 3</div>
								</div><!-- end of .img-slider -->
							</div>
							<div class="subtitle-text"></div>
						</div>

						<h3>Aenean Sed Rhoncus</h3>

						<p>Vivamus et dui ac nibh molestie sagittis. Sed fringilla, tellus ut accumsan efficitur, neque risus euismod odio, sit amet egestas mi nunc vel diam. Nulla facilisis eleifend quam eu sagittis. Curabitur interdum fermentum mauris ut vestibulum. Mauris ornare, purus sit amet tempus elementum, sapien neque tristique quam, id eleifend erat massa ac nisl.</p>

						<blockquote>
							<p>Nunc sem turpis, tempus in dignissim ac, luctus vitae turpis. In vel placerat augue, ut vestibulum sapien. Nulla facilisi. Fusce finibus sed elit non gravida. Mauris egestas eros ante, sed efficitur tortor efficitur eget. </p>
							<cite>Michael Brownie, chef at RT</cite>
						</blockquote>
						<p>Phasellus iaculis porttitor nulla, nec iaculis tortor. Integer sagittis justo tellus, sit amet aliquet magna scelerisque et. Etiam nulla neque, pellentesque id ultrices vitae, luctus at orci. Nam sed vulputate dui, at blandit metus. Aenean a justo enim. Praesent vel nisl a ante. Etiam nunc ligula, lobortis id orci at, egestas efficitur turpis. Donec vehicula at lorem eu sagittis. Sed imperdiet finibus augue in porta. Mauris et vehicula lectus. Fusce elit eros, interdum et turpis quis, posuere dignissim lacus.</p>

						<figure>
							<img src="images/figure-1.jpg" alt="image name">
							<figcaption>Picture subtitle</figcaption>
						</figure>

						<p>Cras mattis imperdiet enim, sit amet consectetur erat posuere convallis. Vivamus vel dapibus odio. Mauris rhoncus rhoncus purus nec fermentum. Nullam pellentesque, augue a tempus pharetra, urna nulla cursus magna, at hendrerit lorem urna et massa. Sed lorem velit, euismod quis iaculis ut, semper vitae mauris. Praesent auctor vel nisi eu porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at suscipit magna. Pellentesque commodo consequat lobortis. Vivamus quis arcu quis metus sollicitudin tempus eu sit amet felis. Nulla ut mi ac magna ultricies luctus. Vivamus ac tristique eros, vel pharetra lorem. Aenean vitae scelerisque neque, ut iaculis turpis.</p>

						 
						<div class="video-wrap" data-url="https://www.youtube.com/watch?v=Ne5J4bxWypI" data-id="Ne5J4bxWypI" style="background-image:url('http://i3.ytimg.com/vi/Ne5J4bxWypI/hqdefault.jpg');" >
							<button class="btn btn-play"></button>
						</div><!-- / .video-wrap -->

						<p>Aenean sed rhoncus elit. Vivamus et dui ac nibh molestie sagittis. Sed fringilla, tellus ut accumsan efficitur, neque risus euismod odio, sit amet egestas mi nunc vel diam. Nulla facilisis eleifend quam eu sagittis. Curabitur interdum fermentum mauris ut vestibulum. Mauris ornare, purus sit amet tempus elementum, sapien neque tristique quam, id eleifend erat massa ac nisl.</p>
						<div class="recipe">
							<div class="recipe-info">
								Prep <span>15 min</span> | Serves <span>2</span>
							</div><!-- /.recipe-info -->
							<h2 class="recipe-name">Smoky Hake, Beans & Greens</h2><!-- /.recipe-heading -->
							<!-- Image slider with caption -->
							<div class="img-slider-with-caption-wrap">
								<div class="owl-carousel img-slider-caption">
									<div class="img-slider__item" style="background-image: url('images/content-slider/slide-1.jpg');">
										<div class="picture-subtitle">Picture subtitle 1</div>
									</div>
									<div class="img-slider__item" style="background-image: url('images/content-slider/slide-2.jpg');">
										<div class="picture-subtitle">Picture subtitle 2</div>
									</div>
									<div class="img-slider__item" style="background-image: url('images/content-slider/slide-3.jpg');">
										<div class="picture-subtitle">Picture subtitle 3</div>
									</div><!-- end of .img-slider -->
								</div>
								<div class="subtitle-text"></div>
							</div>
							<div class="flex-row">
								<div class="col-7">
									<div class="media">
										<h4 class="media-header">method</h4>
										<ol class="num-list">
											<li>Boil a full kettle of water and heat the grill to high. Heat 1 tsp oil in a large frying pan. Squeeze the meat from the chorizo directly into the pan. Add the onion and fry for 5 mins, crushing the meat with a spatula until broken up, golden and surrounded by its juices. The onion will also be soft and golden.</li>
											<li>Meanwhile, put the spinach in a colander, slowly pour over the boiled water to wilt it, then run under the cold tap. Squeeze out the excess water using your hands, then set aside. Line a baking tray with foil, rub with a little oil and place the fish on top. Season, sprinkle over the smoked paprika and drizzle with a little more oil.</li>
											<li>Tip the chilli into the pan with the sausages, fry for 1 min more, then add the beans, spinach, lemon juice and extra virgin olive oil. Let it warm through gently, then season to taste.</li>
											<li>Grill the fish for 5 mins or until flaky but not dry – you won’t need to turn it. Spoon the bean mixture onto plates, then carefully top with the fish and any juices from the tray. Serve with a dollop of Quick garlic mayonnaise (see recipe, right), if you like.</li>
										</ol>
									</div>
								</div>
								<div class="col-5">
									<div class="media">
										<h4 class="media-header">ingredients</h4>
										<div class="media-list media-list--center">
											<div class="media-list__item">
												<span class="media-item__part">
													Mild olive oil
												</span>
												<span class="media-item__part">1 tsb</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Pack raw cooking chorizo (we used 
													Unearthed Alfresco)
												</span>
												<span class="media-item__part">1/2 x 200g</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Onion, finely chopped
												</span>
												<span class="media-item__part">1</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Bag spinach
												</span>
												<span class="media-item__part">260g</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Skinless hake fillets
												</span>
												<span class="media-item__part">2x140g</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Sweet smoked paprika
												</span>
												<span class="media-item__part">1/2 tsb</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Red chilli, deseeded and shredded
												</span>
												<span class="media-item__part">1</span>
											</div>
											<div class="media-list__item">
												<span class="media-item__part">
													Can cannellini beans, drained
												</span>
												<span class="media-item__part">400g</span>
											</div>
										</div><!-- .media-list -->
									</div>
								</div>
							</div>
						</div><!-- /.recipe -->

						<p>Vivamus quis arcu quis metus sollicitudin tempus eu sit amet felis. Nulla ut mi ac magna ultricies luctus. Vivamus ac tristique eros, vel pharetra lorem. Aenean vitae scelerisque neque, ut iaculis turpis.</p>
						<p>Aenean sed rhoncus elit. Vivamus et dui ac nibh molestie sagittis. Sed fringilla, tellus ut accumsan efficitur, neque risus euismod odio, sit amet egestas mi nunc vel diam. Nulla facilisis eleifend quam eu sagittis. Curabitur interdum fermentum mauris ut vestibulum. Mauris ornare, purus sit amet tempus elementum, sapien neque tristique quam, id eleifend erat massa ac nisl.</p>
	  				</div><!-- /.entry-content -->

	  				<footer class="entry-footer">
	  					<span class="tags-links">
  							<span>Tags </span>
	  						<a href="javascript:;" rel="tag">Kitchen</a> /
	  						<a href="javascript:;" rel="tag">Food</a> /
	  						<a href="javascript:;" rel="tag">Restaurant</a> /
	  						<a href="javascript:;" rel="tag">Coffee</a>
  						</span>

  						<div class="share">
  							<span>Share</span>
							<div class="share-links">
								<a href="javascript:;">Facebook</a>
								<a href="javascript:;">Twitter</a>
								<a href="javascript:;">Google +</a>
							</div><!-- /.share-links -->
  						</div>
	  				</footer><!-- /.entry-footer -->
	  			</article>				
  			</div><!-- /.container container--small -->
	  			<div class="related-articles">
		  			<div class="container">
		  				<h2>related articles</h2>
		  				<div class="grid grid-blog">
						  	<div class="grid-item">
						  		<div class="article">
					  				<div class="entry-header">
										<a href="javascript:;">
											<img src="images/gallery/img-13.jpg" alt="" class="wp-post-image" />
										</a>
					  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
					  				</div><!-- /.event-item-image -->
					  				<div class="entry-footer">
										<span class="posted-on">
											<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
										</span>
									</div>
					  				<div class="entry-content">
					  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
					  					<a href="javascript:;" class="read-more">Read more</a>
					  				</div><!-- /.entry-content -->
				  				</div>
						  	</div><!-- /.grid-item -->
						  	<div class="grid-item">
						  		<div class="article">
					  				<div class="entry-header">
										<a href="javascript:;">
											<img src="images/gallery/img-10.jpg" alt="" class="wp-post-image" />
										</a>
					  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
					  				</div><!-- /.event-item-image -->
					  				<div class="entry-footer">
										<span class="posted-on">
											<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
										</span>
									</div>
					  				<div class="entry-content">
					  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
					  					<a href="javascript:;" class="read-more">Read more</a>
					  				</div><!-- /.entry-content -->
				  				</div>
						  	</div><!-- /.grid-item -->
						  	<div class="grid-item">
						  		<div class="article">
					  				<div class="entry-header">
										<a href="javascript:;">
											<img src="images/gallery/img-17.jpg" alt="" class="wp-post-image" />
										</a>
					  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
					  				</div><!-- /.event-item-image -->
					  				<div class="entry-footer">
										<span class="posted-on">
											<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
										</span>
									</div>
					  				<div class="entry-content">
					  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
					  					<a href="javascript:;" class="read-more">Read more</a>
					  				</div><!-- /.entry-content -->
				  				</div>
						  	</div><!-- /.grid-item -->
						  	<div class="grid-item">
						  		<div class="article">
					  				<div class="entry-header">
										<a href="javascript:;">
											<img src="images/gallery/img-15.jpg" alt="" class="wp-post-image" />
										</a>
					  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
					  				</div><!-- /.event-item-image -->
					  				<div class="entry-footer">
										<span class="posted-on">
											<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
										</span>
									</div>
					  				<div class="entry-content">
					  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
					  					<a href="javascript:;" class="read-more">Read more</a>
					  				</div><!-- /.entry-content -->
				  				</div>
						  	</div><!-- /.grid-item -->
		  				</div><!-- /.grid -->
		  			</div><!-- /.container -->
	  			</div><!-- /.related-articles -->
  			<div class="spacer"></div><!-- /.spacer -->
  			<div id="comments" class="comments-area comments">
				<h2 class="comments-title">3 comments</h2>
				<ol class="commentlist">
					<li class="comment even thread-even depth-1" id="li-comment-1">
						<div id="comment-1" class="comment">
							<div class="comment-entry">
								<div class="avatar">
									<img alt="" src="images/author.jpg" class="avatar">
								</div>

								<div class="comment-author">Name surename</div>

								<div class="comment-date">
									<a href="http://hilltop.loc/hello-world/#comment-1" title="Permalink to this comment">25 Nov 2016</a>
								</div>

								<div class="comment-reply">
									<a rel="nofollow" class="comment-reply-link" href="http://hilltop.loc/hello-world/?replytocom=1#respond" aria-label="Reply to A WordPress Commenter">Reply</a>				
								</div><!-- comment-reply -->

								<div class="comment-content">		
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
								</div><!-- comment-content -->
							</div><!-- comment-entry -->
						</div><!-- #comment-1 -->
					</li><!-- #comment-## -->
				
					<li class="comment byuser comment-author-dev bypostauthor odd alt thread-odd thread-alt depth-1" id="li-comment-2">
						<div id="comment-2" class="comment">
							<div class="comment-entry">
								<div class="avatar">
									<img alt="" src="images/author-2.jpg" class="avatar">
								</div>

								<div class="comment-author">Name surename</div>

								<div class="comment-date">
									<a href="http://hilltop.loc/hello-world/#comment-2" title="Permalink to this comment">29 Nov 2016</a>
								</div>

								<div class="comment-reply">
									<a rel="nofollow" class="comment-reply-link" href="http://hilltop.loc/hello-world/?replytocom=2#respond" aria-label="Reply to dev">Reply</a>				
								</div><!-- comment-reply -->

								<div class="comment-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
								</div><!-- comment-content -->
							</div><!-- comment-entry -->
						</div><!-- #comment-2 -->
				
						<ol class="children">
							<li class="comment byuser comment-author-dev bypostauthor even depth-2" id="li-comment-3">
								<div id="comment-3" class="comment">
									<div class="comment-entry">
										<div class="avatar">
											<img alt="" src="images/author-3.jpg" class="avatar">
										</div>

										<div class="comment-author">Name surename</div>

										<div class="comment-date">
											<a href="http://hilltop.loc/hello-world/#comment-3" title="Permalink to this comment">29 Nov 2016 </a>
										</div>

										<div class="comment-reply">
											<a rel="nofollow" class="comment-reply-link" href="http://hilltop.loc/hello-world/?replytocom=3#respond" aria-label="Reply to dev">Reply</a>				
										</div><!-- comment-reply -->

										<div class="comment-content">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
										</div><!-- comment-content -->
									</div><!-- comment-entry -->
								</div><!-- #comment-3 -->
							</li><!-- #comment-## -->
						</ol><!-- .children -->
					</li><!-- #comment-## -->
				</ol><!-- commentlist -->

				<div id="respond" class="comment-respond">
					<!-- COMMENT FORM GOES HERE -->
					<h2>Leave a replay</h2>
					<form class="comment-form" method="get" action="">
						<div class="flex-row">
							<div class="col-6">
								<input type="text" class="input input--primary" placeholder="Your name">
							</div><!-- /.col-6 -->
							<div class="col-6">
								<input type="email" class="input input--primary" placeholder="Your email">
							</div><!-- /.col-6 -->
							<div class="col-12">
								<textarea name="msg" class="input input--textarea" placeholder="Message" onkeyup="auto_grow(this)"></textarea>
							</div><!-- /.col -->
							<div class="col-12">
								<input type="submit" value="send message" class="btn btn--secondary full-width">
							</div><!-- /.col -->
						</div><!-- /.flex-row -->
					</form>
				</div><!-- #respond -->
			</div><!-- .comments-area -->
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}