{% extends "./_templates/template.default.html" %}
{% set title = "Blog" %}
{% set page = "blog" %}
{% set blog = true %}

{% block content %}
	{% include "_partials/partial.header.html" %}
  		<main>
  			<div class="container">
				<section class="grid grid-blog">
					<div class="grid-sizer"></div><!-- /.grid-sizer -->
				  	<div class="grid-item grid-item-double">
		  				<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<div class="wp-post-image img-to-bgr" style="background-image: url('images/gallery/img-12.jpg');"></div><!-- /.wp-post-image -->
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Donec Sapien Nisl Nare vel Egestas Placerat</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-10.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-13.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-14.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-15.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-16.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-17.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-18.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-19.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-20.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-20.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<article>
			  				<header class="entry-header">
								<a href="blog-inner.html">
									<img src="images/gallery/img-21.jpg" alt="" class="wp-post-image" />
								</a>
			  					<h2 class="entry-title"><a href="blog-inner.html">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
			  				</header><!-- /.event-item-image -->
			  				<footer class="entry-footer">
								<span class="posted-on">
									<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
								</span>
							</footer>
			  				<div class="entry-content">
			  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
			  					<a href="blog-inner.html" class="read-more">Read more</a>
			  				</div><!-- /.entry-content -->
		  				</article>
				  	</div><!-- /.grid-item -->
				</section><!-- /.grid -->
				<div class="text-center btn-load-more">
					<a href="blog-inner.html" class="btn btn--primary" id="load-more">Load more</a>
				</div><!-- /.text-center -->
  			</div><!-- /.container -->
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}