{% extends "./_templates/template.default.html" %}
{% set title = "Contact" %}
{% set contact = true %}
{% set page = "page-template-template-contact" %}

{% block content %}
	{% include "_partials/partial.header.html" %}

  		<main>
  			<div class="contact-wrap">
  				<div class="contact-info">
					<address class="contact-address">
						<span class="contact-name">RT Restoraunt</span>
						<span>20 Narborough Park</span>
						<span>Desford Road</span>
						<span>Enderby</span>
						<span>Leicester LE19 4XT</span>
						<span class="contact-phone">+44 (0) 116 2386555</span>
						<a class="contact-email" href="mailto:hello@rt.com">hello@rt.com</a>
					</address>
					<a class="contact-directions" href="javascript:;">Get directions</a>
  				</div><!-- /.contact-info -->
  				<div class="contact" style="background-image: url('images/home/reservation.jpg');">
  				</div><!-- /.contact -->
  			</div><!-- /.contact -->
  			<div class="container container--small">
  				<form class="reservation-form" action="" method="">
					<h3>Contact us</h3>
					<div class="flex-row">
						<div class="col-6">
							<input type="text" class="input input--primary" placeholder="Name and surename" />
						</div><!-- /.col-6 -->
						<div class="col-6">
							<input type="email" class="input input--primary" placeholder="Email" />
						</div><!-- /.col-6 -->
						<div class="col-12">
							<input type="text" class="input input--primary" placeholder="Subject" />
						</div><!-- /.col-6 -->
						<div class="col-12">
							<textarea name="msg" class="input input--textarea" placeholder="Message" onkeyup="auto_grow(this)"></textarea>
						</div><!-- /.col -->
						<div class="col-12">
							<div class="text-center">
								<input type="submit" value="Send message" class="btn btn--secondary" />
							</div><!-- /.float-center -->
						</div><!-- /.col -->
					</div><!-- /.flex-row -->
				</form><!-- /.form -->
  			</div><!-- /.container -->
  			{% include "_partials/partial.restaurant-info.html" %}
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}