{% extends "./_templates/template.default.html" %}
{% set title = "Events" %}
{% set events = true %}

{% block content %}
	{% include "_partials/partial.header.html" %}

  		<main>
  			<div class="container">
				<div class="filter">
				  <nav id="filters" class="filter-wrap">
				  	<div class="filter-responsive-element">
				  		<span class="filter-responsive-element-holder">All images</span>
						<div class="filter-responsive-element-burger">
							<span></span>
						</div>
					</div>
				    <ul class="filter-nav">
				      <li><button class="filter-button" data-filter="*">
				      <span class="filter-name">All events</span>
				      <span class="filter-count"></span></button>
				      </li>
				      <li><button class="filter-button" data-filter=".comming"><span sclass="filter-name">Comming soon</span>
				      <span class="filter-count"></span></button>
				      </li>
				      <li><button class="filter-button" data-filter=".past"><span class="filter-name">Past events</span>
				      <span class="filter-count"></span></button>
				      </li>
				    </ul>
				  </nav>
				</div>

				<section class="grid">
				  	<div class="grid-item past">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-10.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-2.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item past">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-17.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item past">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-13.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item past">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-10.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-2.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item past">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-17.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item past">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-13.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-2.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				  	<div class="grid-item">
				  		<div class="event-item">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-8.jpg');">
				  			</div><!-- /.event-item-image -->
				  			<div class="event-time">
				  				<time datetime="2016-06-04">June 4, 2016</time> 
				  				<time >06:30 PM - 10:00 PM</time>
				  			</div><!-- /.event-date -->
				  			<div class="event-desc">
				  				<h3 class="event-title">Pellentesque pharetra fermentum volutpat</h3><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>
				  			</div><!-- /.event-desc -->
				  			<div class="event-more-info">
				  				<a href="event-inner.html">View details</a>
				  				<div class="share">
		  							<span>Share</span>
									<div class="share-links events">
										<a href="javascript:;">Facebook</a>
										<a href="javascript:;">Twitter</a>
										<a href="javascript:;">Google +</a>
									</div><!-- /.share-links -->
		  						</div><!-- /.share -->
				  			</div><!-- /.event-more-info -->
				  		</div><!-- /.event-item -->
				  	</div><!-- /.grid-item -->
				</section>
				<div class="text-center">
					<a href="javascript:;" class="btn btn--primary btn--event" id="load-more">Load more</a>
				</div><!-- /.text-center -->
  			</div><!-- /.container -->
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}