{% extends "./_templates/template.default.html" %}
{% set title = "Event inner" %}
{% set page = "single-event" %}
{% set events = true %}

{% block content %}
	{% include "_partials/partial.header.html" %}

  		<main>
  			<div class="container">
  				<article>
  					<div class="entry-content">
  						<div class="event-item-full">
				  			<div class="event-item-image" style="background-image: url('images/gallery/img-10.jpg');">
				  			</div><!-- /.event-item-image -->

				  			<div class="event-info">
					  			<div class="event-time">
					  				<time datetime="2016-06-4 10:00">June 4, 2016</time> 
					  				<time >06:30 PM - 10:00 PM</time>
					  			</div><!-- /.event-date -->
					  			<div class="event-icon">
						  			{{icon('icon-cutlery', 'icon-cutlery')}}
					  			</div><!-- /.event-icon -->
				  				<h2 class="event-title">Curabitur accumsan non erat non dignissim Curabitur accumsan non erat non dignissim fdsfa efasfa</h2><!-- /.event-title -->
				  				<small class="event-location">56 South Front Street, Memphis</small>

				  				<div class="event-description">
				  					<p class="lead">Cras mattis imperdiet enim, sit amet consectetur erat posuere convallis. Vivamus vel dapibus odio. Mauris rhoncus rhoncus purus nec fermentum. Nullam pellentesque, augue a tempus pharetra, urna nulla cursus magna.</p> 
				  					
									<p>Sed lorem velit, euismod quis iaculis ut, semper vitae mauris. Praesent auctor vel nisi eu porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
	
									<p>Aenean sed rhoncus elit. Vivamus et dui ac nibh molestie sagittis. Sed fringilla, tellus ut accumsan efficitur, neque risus euismod odio, sit amet egestas mi nunc vel diam. Nulla facilisis eleifend quam eu sagittis. Curabitur interdum fermentum mauris ut vestibulum. </p>
				  				</div><!-- /.event-description -->
				  				<div class="share-attend">
			  						<div class="attend">
										<a href="javascript:;" class="btn btn--secondary">Attend</a>
									</div><!-- /.attend -->
									<div class="share">
			  							<span>Share</span>
										<div class="share-links events">
											<a href="javascript:;">Facebook</a>
											<a href="javascript:;">Twitter</a>
											<a href="javascript:;">Google +</a>
										</div><!-- /.share-links -->
			  						</div><!-- /.share -->
								</div>		
				  			</div><!-- /.event-info -->
				  		</div><!-- /.event-item -->
  					</div><!-- /.entry-content -->
  				</article><!-- / article -->
  			</div><!-- /.container -->
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}