{% extends "./_templates/template.default.html" %}
{% set title = "Gallery" %}
{% set page = "page-template-template-gallery" %}
{% set gallery = true %}

{% block content %}
	{% include "_partials/partial.header.html" %}

  		<main>
  			<div class="container">
				<div class="filter">
				  <nav id="filters" class="filter-wrap">
				  	<div class="filter-responsive-element">
				  		<span class="filter-responsive-element-holder">All images</span>
						<div class="filter-responsive-element-burger">
							<span></span>
						</div>
					</div>
				    <ul class="filter-nav">
				      	<li>
					      	<button class="filter-button" data-filter="*">
						      	<span class="filter-name">All images</span>
						      	<span class="filter-count"></span>
					      	</button>
				      	</li>
				      	<li>
				      		<button class="filter-button" data-filter=".food">
				      			<span class="filter-name">Food</span>
				      			<span class="filter-count"></span>
				      		</button>
				      	</li>
				      	<li>
				      		<button class="filter-button" data-filter=".backstage">
				      			<span class="filter-name">Backstage</span>
				      			<span class="filter-count"></span>
				      		</button>
				      	</li>
				     	<li>
				      		<button class="filter-button" data-filter=".restaurant">
				      			<span class="filter-name">Restaurant</span>
				      			<span class="filter-count"></span>
				      		</button>
				      	</li>
				      	<li>
				      		<button class="filter-button" data-filter=".other">
				      			<span class="filter-name">Other</span>
				      			<span class="filter-count"></span>
				      		</button>
				      	</li>
				    </ul>
				  </nav>
				</div>

				<section class="grid popup-gallery">
				  	<a href="images/gallery/img-16.jpg" class="grid-item food">
				    	<img src="images/gallery/img-16.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-12.jpg" class="grid-item backstage">
				   		<img src="images/gallery/img-12.jpg" alt="" />
				  	</a>
					<a href="images/gallery/img-13.jpg" class="grid-item backstage">
					   	<img src="images/gallery/img-13.jpg" alt="" />
					</a>
				 	<a href="images/gallery/img-14.jpg" class="grid-item backstage">
				    	<img src="images/gallery/img-14.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-15.jpg" class="grid-item restaurant">
				    	<img src="images/gallery/img-15.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-6.jpg" class="grid-item restaurant">
				   		<img src="images/gallery/img-6.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-7.jpg" class="grid-item restaurant">
				   		<img src="images/gallery/img-7.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-8.jpg" class="grid-item food">
				   		<img src="images/gallery/img-8.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-9.jpg" class="grid-item website">
				   		<img src="images/gallery/img-9.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-10.jpg" class="grid-item other">
				    	<img src="images/gallery/img-10.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-15.jpg" class="grid-item food">
				   		<img src="images/gallery/img-15.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-17.jpg" class="grid-item website">
				   		<img src="images/gallery/img-17.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-20.jpg" class="grid-item other">
				    	<img src="images/gallery/img-20.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-8.jpg" class="grid-item food">
				   		<img src="images/gallery/img-8.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-17.jpg" class="grid-item website">
				   		<img src="images/gallery/img-17.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-10.jpg" class="grid-item other">
				    	<img src="images/gallery/img-10.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-8.jpg" class="grid-item food">
				   		<img src="images/gallery/img-8.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-19.jpg" class="grid-item website">
				   		<img src="images/gallery/img-19.jpg" alt="" />
				  	</a>
				  	<a href="images/gallery/img-10.jpg" class="grid-item other">
				    	<img src="images/gallery/img-10.jpg" alt="" />
				  	</a>
				</section>
				<div class="text-center">
					<a href="javascript:;" class="btn btn--primary gallery" id="load-more">Load more</a>
				</div><!-- /.text-center -->
  			</div><!-- /.container -->
			{% include "_partials/partial.restaurant-info.html" %}
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}