 {% extends "./_templates/template.default.html" %}
{% set title = "Menu" %}
{% set menu = true %}
{% set page = "page-template-template-menu" %}

{% block content %}
	{% include "_partials/partial.header.html" %}
	<main>
		{% include "_partials/partial.media-slider-2.html" %}
		<div class="container container--small" id="next">
			<article>
				<div class="entry-content">
					<h1>our menu</h1>
					<div class="tabs">
						<ul class="tabs__nav">
							<li><a href="#tab-1" class="is-active">Today</a></li>
				  			<li><a href="#tab-2">Breakfest</a></li>
				  			<li><a href="#tab-3">Lunch</a></li>
				  			<li><a href="#tab-4">Dinner</a></li>
				  			<li><a href="#tab-5">Desert</a></li>
				  			<li><a href="#tab-6">Drink</a></li>
						</ul>
						<div id="tab-1" class="tabs__item">
							<div class="order-menu">
								<h2 class="order-menu-heading">starters</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->

							<div class="order-menu">
								<h2 class="order-menu-heading">table shares</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->
						</div>
						<div id="tab-2" class="tabs__item">
							<div class="order-menu">
								<h2 class="order-menu-heading">starters</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->

							<div class="order-menu">
								<h2 class="order-menu-heading">table shares</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->
						</div>
						<div id="tab-3" class="tabs__item">
							<div class="order-menu">
								<h2 class="order-menu-heading">starters</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->

							<div class="order-menu">
								<h2 class="order-menu-heading">table shares</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->
						</div>
						<div id="tab-4" class="tabs__item">
							<div class="order-menu">
								<h2 class="order-menu-heading">starters</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->

							<div class="order-menu">
								<h2 class="order-menu-heading">table shares</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->
						</div>
						<div id="tab-5" class="tabs__item">
							<div class="order-menu">
								<h2 class="order-menu-heading">starters</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->

							<div class="order-menu">
								<h2 class="order-menu-heading">table shares</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->
						</div>
						<div id="tab-6" class="tabs__item">
							<div class="order-menu">
								<h2 class="order-menu-heading">starters</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->

							<div class="order-menu">
								<h2 class="order-menu-heading">table shares</h2><!-- /.order-menu-heading -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
								<div class="order-menu-item-wrap">
									<div class="order-menu-item">
										<div class="item-info">
											<div class="item-image" style="background-image: url('images/menu/menu-item-1.jpg');">
												<span class="item-price">£22</span>
											</div><!-- /.item-image -->
											<div class="item-desc">
												<h5>lobster sweet corn soup </h5>
												<span>crushed avocado, charred local corn, seven grain bread, cherry tomato vinaigrette +7 supplement</span>
											</div><!-- /.item-desc -->
										</div><!-- /.item-info -->
									</div><!-- /.order-menu-item -->
									<div class="item-image-full"> <!-- On click show this element -->
										<img src="images/menu/menu-item-1.jpg" alt="" />
										<span class="item-price item-price-black">£22</span>
									</div><!-- /.item-image-full -->
								</div><!-- /.order-menu-item-wrap -->
							</div><!-- /.order-menu -->
						</div>
					</div><!-- /.tabs -->
				</div><!-- /.entry-content -->
			</article><!-- / article -->
		</div><!-- /.container -->
		<section class="restaurant-info">
			<div class="info-box info-box--white animation fade-in">
				<div class="info-box__icon">
					{{icon('icon-clock', 'icon-clock')}}
				</div>
				<p><span>Our restaurant is open for all guests every working day from</span> 
				<span>9<sup>AM</sup> to 10<sup>PM</sup> and weekends from 11<sup>AM</sup> to 8<sup>PM</sup>. </span> 
				<span>Bon appetite!</span></p>
			</div>
		</section><!-- /restaurant-info -->
  		</main>
	{% include "_partials/partial.footer.html" %}
{% endblock %}