	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!--<![endif]-->
    <script src="bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
    <script src="bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script><script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="bower_components/jquery-timepicker-wvega/jquery.timepicker.js"></script>
   <script src="bower_components/isotope/dist/isotope.pkgd.min.js"></script>
   <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="js/init.min.js"></script>
    <script src="js/all.min.js"></script>
  </body>
</html>

