/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.icon-search {
	width: 17px;
	height: 17px;
	color: $color-primary;
}

.icon-basket {
	width: 20px;
	height: 17px;
	color: $color-primary;
}

.icon-close {
	width: 16px;
	height: 16px;
	color: $color-primary;
}

.icon-back-to-top {
	width: 12px;
	height: 20px;
	color: $base-text-color;
	margin-left: 5px;
}

.icon-cutlery {
	width: 60px;
	height: 49px;
}

.icon-clock {
	width: 54px;
	height: 54px;
}

.icon-restaurant {
	width: 168px;
	height: 75px;
	color: #fff;
}

.icon-arrow-right,
.icon-arrow-left {
	width: 40px;
	height: 12px;
}

.icon-plus {
	width: 12px;
	height: 12px;
}

.icon-minus {
	width: 12px;
	height: 2px;
}

.icon-reservation {
	color: black;
}

.icon-paladar {
	width: 59px;
	height: 56px;
}