/*------------------------------------*\
    #SPACERS
\*------------------------------------*/

.spacer,
.spacer-white,
.spacer-black {
    height: 1px;
}

.spacer {
    background-color: rgba($color-primary, .15);
    margin: 20px 3.7%;
}

.spacer-white {
    background-color: rgba(#fff, .15);
    margin-top: 25px;
}

.spacer-black {
    background-color: rgba($color-primary, .15);
}
