/*------------------------------------*\
    #IMAGE TO BACKGROUND
\*------------------------------------*/


.img-to-bgr,
.img-to-bgr-half {
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-to-bgr-half {
	padding-bottom: 86.1%;
}

.img-to-bgr {
    padding-bottom: 100%;
    
}

	
