/*------------------------------------*\
    #SOCIAL SHARE
\*------------------------------------*/

.share {
    font-family: $second-font-family;
    padding: 0 8px 0 10px;
    height: 28px;
    line-height: 28px;
    border: 1px solid rgba(31, 32, 33, 0.15);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .3em;
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    &:hover {

        .share-links {
            visibility: visible;
            opacity: 1;
        }
    }

    span {
        padding-bottom: 20px;
    }

    .share-attend & {
        padding: 0 110px !important;
        order: -1;

        @include max-screen($breakpoint-medium) {
            padding: 0 !important;
            width: 100%;
            order: 0;
            margin-top: 20px;
        }
    }

}

    .share-links {
        position: absolute;
        right: 0;
        top: calc(100% + 5px);
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        z-index: 10;

        @include max-screen($breakpoint-medium) {
            right: auto;
            left: 0;
        }

        &.events {
            @include max-screen($breakpoint-medium) {
                right: 0;
                left: auto;
            }
        }

        .share-attend & {
            width: 100%;
        }

        a {
            display: block;
            min-width: 200px;
            padding: 5px 10px;
            background-color: $color-primary;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            transition: all .3s ease;

            &:hover {
                text-decoration: none;
                background-color: #131314;
            }
        }
    }

    .event-more-info {
        .share {
            padding: 0;
            color: black;
            border: none;
            line-height: 16px;

            .share-links {
                top: 30px;
            }

            &:hover {
                text-decoration: underline;
            }

            a {
                line-height: 28px;
            }
        }
    }

.share-attend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 570px;

    .btn {
        padding: 0 110px;
    }

    @include max-screen($breakpoint-medium) {
        display: block;
    }
}