/*------------------------------------*\
    #FLEX GRID
\*------------------------------------*/

/*!
    Blueprint CSS v1.2.4
    http://splintercode.github.io/blueprint-css/
    License MIT 2016
*/


.flex-row {

    &.flex-row--small {
        > .col,
        > [class^="col-"] {
            padding: 0 5px 20px 5px;
        }
    }
}

[class^="flex-row"] > .col, 
[class^="flex-row"] > [class^="col-"] {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 0 20px 40px 20px;
  display: block; }

[class^="flex-row"] > [class^="col-"] {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

[class^="flex-row"] {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -js-display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

:root [class^="flex-row"] {
  margin-left: -20px;
  margin-right: -20px; 
}

:root .flex-row--small {
    margin-left: -5px;
    margin-right: -5px;
}

.flex-row--middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-row--top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.flex-row--bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.flex-row--center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-row--reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.flex-row--around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-row--between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-row--stretch {
  align-items: stretch;
  flex-flow: row wrap; }

.flex-row--stretch > .col, .flex-row--stretch > [class^="col-"] {
  -js-display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row--gutter-none > .col, .flex-row--gutter-none > [class^="col-"] {
  padding: 0; }

.flex-row--gutter-bottom-none > .col, .flex-row--gutter-bottom-none > [class^="col-"] {
  padding: 0 8px 0 8px; }

.flex-row--gutter-between-none > .col, .flex-row--gutter-between-none > [class^="col-"] {
  padding: 0 0 16px 0; }

.flex-row--gutter-none, .flex-row--gutter-between-none {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.col-first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.col-last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

[class^="flex-row"] > .col-1 {
  max-width: 8.33333%;
  width: 8.33333%; }

[class^="flex-row"] > .col-2 {
  max-width: 16.66667%;
  width: 16.66667%; }

[class^="flex-row"] > .col-3 {
  max-width: 25%;
  width: 25%; }

[class^="flex-row"] > .col-4 {
  max-width: 33.33333%;
  width: 33.33333%; }

[class^="flex-row"] > .col-5 {
  max-width: 41.66667%;
  width: 41.66667%; }

[class^="flex-row"] > .col-6 {
  max-width: 50%;
  width: 50%; }

[class^="flex-row"] > .col-7 {
  max-width: 58.33333%;
  width: 58.33333%; }

[class^="flex-row"] > .col-8 {
  max-width: 66.66667%;
  width: 66.66667%; }

[class^="flex-row"] > .col-9 {
  max-width: 75%;
  width: 75%; }

[class^="flex-row"] > .col-10 {
  max-width: 83.33333%;
  width: 83.33333%; }

[class^="flex-row"] > .col-11 {
  max-width: 91.66667%;
  width: 91.66667%; }

[class^="flex-row"] > .col-12 {
  max-width: 100%;
  width: 100%; }

@media (min-width: 30em) {
  [class^="flex-row"] > .col-1\@sm {
    max-width: 8.33333%;
    width: 8.33333%; }
  [class^="flex-row"] > .col-2\@sm {
    max-width: 16.66667%;
    width: 16.66667%; }
  [class^="flex-row"] > .col-3\@sm {
    max-width: 25%;
    width: 25%; }
  [class^="flex-row"] > .col-4\@sm {
    max-width: 33.33333%;
    width: 33.33333%; }
  [class^="flex-row"] > .col-5\@sm {
    max-width: 41.66667%;
    width: 41.66667%; }
  [class^="flex-row"] > .col-6\@sm {
    max-width: 50%;
    width: 50%; }
  [class^="flex-row"] > .col-7\@sm {
    max-width: 58.33333%;
    width: 58.33333%; }
  [class^="flex-row"] > .col-8\@sm {
    max-width: 66.66667%;
    width: 66.66667%; }
  [class^="flex-row"] > .col-9\@sm {
    max-width: 75%;
    width: 75%; }
  [class^="flex-row"] > .col-10\@sm {
    max-width: 83.33333%;
    width: 83.33333%; }
  [class^="flex-row"] > .col-11\@sm {
    max-width: 91.66667%;
    width: 91.66667%; }
  [class^="flex-row"] > .col-12\@sm {
    max-width: 100%;
    width: 100%; }
  .hide\@sm {
    display: none !important; }
  .show\@sm {
    display: block !important; }
  .col-first\@sm {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .col-last\@sm {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 769px) {
  [class^="flex-row"] > .col-1\@md {
    max-width: 8.33333%;
    width: 8.33333%; }
  [class^="flex-row"] > .col-2\@md {
    max-width: 16.66667%;
    width: 16.66667%; }
  [class^="flex-row"] > .col-3\@md {
    max-width: 25%;
    width: 25%; }
  [class^="flex-row"] > .col-4\@md {
    max-width: 33.33333%;
    width: 33.33333%; }
  [class^="flex-row"] > .col-5\@md {
    max-width: 41.66667%;
    width: 41.66667%; }
  [class^="flex-row"] > .col-6\@md {
    max-width: 50%;
    width: 50%; }
  [class^="flex-row"] > .col-7\@md {
    max-width: 58.33333%;
    width: 58.33333%; }
  [class^="flex-row"] > .col-8\@md {
    max-width: 66.66667%;
    width: 66.66667%; }
  [class^="flex-row"] > .col-9\@md {
    max-width: 75%;
    width: 75%; }
  [class^="flex-row"] > .col-10\@md {
    max-width: 83.33333%;
    width: 83.33333%; }
  [class^="flex-row"] > .col-11\@md {
    max-width: 91.66667%;
    width: 91.66667%; }
  [class^="flex-row"] > .col-12\@md {
    max-width: 100%;
    width: 100%; }
  .hide\@md {
    display: none !important; }
  .show\@md {
    display: block !important; }
  .col-first\@md {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .col-last\@md {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 60em) {
  [class^="flex-row"] > .col-1\@lg {
    max-width: 8.33333%;
    width: 8.33333%; }
  [class^="flex-row"] > .col-2\@lg {
    max-width: 16.66667%;
    width: 16.66667%; }
  [class^="flex-row"] > .col-3\@lg {
    max-width: 25%;
    width: 25%; }
  [class^="flex-row"] > .col-4\@lg {
    max-width: 33.33333%;
    width: 33.33333%; }
  [class^="flex-row"] > .col-5\@lg {
    max-width: 41.66667%;
    width: 41.66667%; }
  [class^="flex-row"] > .col-6\@lg {
    max-width: 50%;
    width: 50%; }
  [class^="flex-row"] > .col-7\@lg {
    max-width: 58.33333%;
    width: 58.33333%; }
  [class^="flex-row"] > .col-8\@lg {
    max-width: 66.66667%;
    width: 66.66667%; }
  [class^="flex-row"] > .col-9\@lg {
    max-width: 75%;
    width: 75%; }
  [class^="flex-row"] > .col-10\@lg {
    max-width: 83.33333%;
    width: 83.33333%; }
  [class^="flex-row"] > .col-11\@lg {
    max-width: 91.66667%;
    width: 91.66667%; }
  [class^="flex-row"] > .col-12\@lg {
    max-width: 100%;
    width: 100%; }
  .hide\@lg {
    display: none !important; }
  .show\@lg {
    display: block !important; }
  .col-first\@lg {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .col-last\@lg {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 90em) {
  [class^="flex-row"] > .col-1\@xl {
    max-width: 8.33333%;
    width: 8.33333%; }
  [class^="flex-row"] > .col-2\@xl {
    max-width: 16.66667%;
    width: 16.66667%; }
  [class^="flex-row"] > .col-3\@xl {
    max-width: 25%;
    width: 25%; }
  [class^="flex-row"] > .col-4\@xl {
    max-width: 33.33333%;
    width: 33.33333%; }
  [class^="flex-row"] > .col-5\@xl {
    max-width: 41.66667%;
    width: 41.66667%; }
  [class^="flex-row"] > .col-6\@xl {
    max-width: 50%;
    width: 50%; }
  [class^="flex-row"] > .col-7\@xl {
    max-width: 58.33333%;
    width: 58.33333%; }
  [class^="flex-row"] > .col-8\@xl {
    max-width: 66.66667%;
    width: 66.66667%; }
  [class^="flex-row"] > .col-9\@xl {
    max-width: 75%;
    width: 75%; }
  [class^="flex-row"] > .col-10\@xl {
    max-width: 83.33333%;
    width: 83.33333%; }
  [class^="flex-row"] > .col-11\@xl {
    max-width: 91.66667%;
    width: 91.66667%; }
  [class^="flex-row"] > .col-12\@xl {
    max-width: 100%;
    width: 100%; }
  .hide\@xl {
    display: none !important; }
  .show\@xl {
    display: block !important; }
  .col-first\@xl {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .col-last\@xl {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }

.flex {
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -js-display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.flex-fill {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 0% !important;
  flex: 1 1 0% !important;
  -ms-flex-preferred-size: 0% !important;
  flex-basis: 0% !important; }

.flex-fit {
  flex-basis: auto !important; }

.float-center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  float: none !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.full-width {
  width: 100% !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.col-1--max {
  max-width: 83.33333px !important; }

.col-2--max {
  max-width: 166.66667px !important; }

.col-3--max {
  max-width: 250px !important; }

.col-4--max {
  max-width: 333.33333px !important; }

.col-5--max {
  max-width: 416.66667px !important; }

.col-6--max {
  max-width: 500px !important; }

.col-7--max {
  max-width: 583.33333px !important; }

.col-8--max {
  max-width: 666.66667px !important; }

.col-9--max {
  max-width: 750px !important; }

.col-10--max {
  max-width: 833.33333px !important; }

.col-11--max {
  max-width: 916.66667px !important; }

.col-12--max {
  max-width: 1000px !important; }

.margin--sm {
  margin: 4px !important; }

.margin-top--sm {
  margin-top: 4px !important; }

.margin-bottom--sm {
  margin-bottom: 4px !important; }

.margin-right--sm {
  margin-right: 4px !important; }

.margin-left--sm {
  margin-left: 4px !important; }

.padding--sm {
  padding: 4px !important; }

.padding-top--sm {
  padding-top: 4px !important; }

.padding-bottom--sm {
  padding-bottom: 4px !important; }

.padding-right--sm {
  padding-right: 4px !important; }

.padding-left--sm {
  padding-left: 4px !important; }

.margin {
  margin: 16px !important; }

.margin-top {
  margin-top: 16px !important; }

.margin-bottom {
  margin-bottom: 16px !important; }

.margin-right {
  margin-right: 16px !important; }

.margin-left {
  margin-left: 16px !important; }

.padding {
  padding: 16px !important; }

.padding-top {
  padding-top: 16px !important; }

.padding-bottom {
  padding-bottom: 16px !important; }

.padding-right {
  padding-right: 16px !important; }

.padding-left {
  padding-left: 16px !important; }

.margin--lg {
  margin: 24px !important; }

.margin-top--lg {
  margin-top: 24px !important; }

.margin-bottom--lg {
  margin-bottom: 24px !important; }

.margin-right--lg {
  margin-right: 24px !important; }

.margin-left--lg {
  margin-left: 24px !important; }

.padding--lg {
  padding: 24px !important; }

.padding-top--lg {
  padding-top: 24px !important; }

.padding-bottom--lg {
  padding-bottom: 24px !important; }

.padding-right--lg {
  padding-right: 24px !important; }

.padding-left--lg {
  padding-left: 24px !important; }


//RESPONSIVE GRID

.reservation {
 .col-6 {
    @include max-screen($breakpoint-medium) {
        width: 100%;
        max-width: 100%;
    }
  }  
}

.menu-section {
  .col-8, .col-4 {
    @include max-screen($breakpoint-extralarge) {
      width: 100%;
      max-width: 100%;
    }
  }

  .col-8 {
    @include max-screen($breakpoint-extralarge) {
      order:-1;
    }
  }
}

.reservation-section,
.today-on-menu-section,
.recipe {
  @include max-screen($breakpoint-extralarge) {
    .col-7, .col-5 {
      width: 100%;
      max-width: 100%;
    }
  }  
}

.today-on-menu-section {
  @include max-screen($breakpoint-extralarge) {
    
    .col-7 {
      order: 1;
    }

    .media-list {
      text-align: left;
    }
  }  
}

.recipe {

  @include max-screen($breakpoint-extralarge) {
      .col-7 {
          order: 1;
      }
    
  }
}

