/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/
$container-spacing: 30px;
$container-spacing-small: 15px;

.container {
    margin: 0 auto;
    max-width: $page-max-width + ($spacing-unit * 2);
    padding-left:  $spacing-unit;
    padding-right: $spacing-unit;

    @include max-screen($breakpoint-medium - 1) {
	    max-width: $page-max-width + ($spacing-unit);
	    padding-left:  $spacing-unit/2;
	    padding-right: $spacing-unit/2;
    }

    .single-post & {
        @include max-screen($breakpoint-medium) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.container--small {
        max-width: 772px + ($container-spacing * 2);
        padding-left: $container-spacing;
        padding-right: $container-spacing;

        @include max-screen($breakpoint-large) {
            padding-left: $container-spacing;
            padding-right: $container-spacing;
        }

         @include max-screen($breakpoint-medium - 1) {
            padding-left:  $container-spacing-small;
            padding-right: $container-spacing-small;
        }
    }
}