/*------------------------------------*\
    #VERTICAL LINE
\*------------------------------------*/

.v-line {
	position: relative;

	&:before {
	    content: '';
	    height: 90px;
	    width: 1px;
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    background-color: $base-border-color;
	}
}