/*------------------------------------*\
    #FILTER + ISOTOPE GRID
\*------------------------------------*/

.filter {}

    .filter-nav {
        text-align:center;
        position: relative;

        @include max-screen(1080px) {
            margin-top: 40px;
        }

        @include max-screen($breakpoint-large) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        @include max-screen(570px) {
            margin-top: 10px;
            display: none;
            position: absolute;
            width: 100%;
            z-index: 10;
        }

        li {
            display:inline-block;

            &:not(:last-child) {
                margin-right: 50px;
            }

            @include max-screen($breakpoint-large) {
                margin-right: 0 !important;

                &.magic-line {
                    display: none;
                }
            }

            @include max-screen(570px) {
                display: block;
                background-color: #1f2021;
                border-bottom: 1px solid #2a2b2c; 
                margin-right: 0 !important;

                &:active {
                    background-color: #131314;
                }

                button {
                    color: white;
                    text-align: left;
                }
            }
        }
    }

	.filter-button {
        position: relative;
	  	cursor:pointer;
	  	display:block;
	  	border:none;
	  	outline:none;
	  	background:none;
	  	text-transform: uppercase;
  		font-size: 11px;
  		font-family: $second-font-family;
  		letter-spacing: .3em;
  		color: $color-primary;
  		position: relative;
        padding: 0;

		&:hover {
			text-decoration: none;
		}

    	@media(max-width:767px){
        	display:block;
        	width:100%;
    	}

        @include max-screen(570px) {
            padding: 20px 0 20px 20px;
        }

        &.is-active {

            .filter-name {

                &:after {   
                     left: -5px;
                     right: 0;
                }

                @include max-screen($breakpoint-large) {
                    text-decoration: underline;

                    &:after {
                        display: none;
                        width: 0;
                    }
                }
            }
        }
	}

    .filter-name {
        position: relative;

        &:after {
            content: '';
            height: 1px;
            background-color: $color-primary;
            position: absolute;
            top: 103%;
            left: 50%;
            right: 50%;
            transition: all .25s cubic-bezier(0.215, 0.610, 0.355, 1.000) .1s;
        }

        &:hover {
            &:after {
                left: -5px;
                right: 0;
            }
        }

        @include max-screen($breakpoint-large) {
           &:after {
                display: none;
           }
        }
    }

	.filter-count {
		position: absolute;
		top: -9px;
    	left: 100%;
		color: #85878a;

        @include max-screen(570px) {
            position: static;
        }
	}

    .filter-wrap {
        position: relative;
    }

        .filter-responsive-element {
            display: none;
            width: 100%;
            border: 1px solid #1f2021;
            padding: 15px;
            font-family: $second-font-family;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            height: 50px;

            &:hover {
                text-decoration: none;
            }

            @include max-screen(570px) {
                display: block;
                margin-top: 15px;
            }
        }

        .filter-responsive-element-burger {
            width: 20px;
            height: 20px;
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;

            span {
                display: inline-block;
                width: 14px;
                height: 2px;
                background-color: #1f2021;
                position: relative;
                transition: all .2s ease;

                &:before, &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    background-color: #1f2021;
                    position: absolute;
                    right: 0;
                    transition: all .2s ease;
                }

                &:before {
                    width: 20px;
                    bottom: 5px;
                }

                &:after {
                    width: 8px;
                    top: 5px;
                }
            }

            &.is-active {
                span {
                    background-color: transparent;

                    &:before {
                        transform: rotate(45deg);
                        bottom: 0;
                    }

                    &:after {
                        width: 20px;
                        transform: rotate(-45deg);
                        top: 0; 
                    }
                }
            }

            @include max-screen(570px) {
                display: inline-block;
            }
        }

.grid {
    margin-left: -1.6%;
    margin-right: -1.6%;
    margin-top: 45px;

    @include max-screen($breakpoint-medium) {
        margin-top: 30px;
    }

} // .grid

    .grid-sizer {
        padding: 0 !important;
    }

    .grid-item,
    .grid-sizer, {
        padding: 0 1.6% 40px 1.6%;
        float:left;
        background:#ffffff;
        display:block;

        .page-template-template-gallery & {
            @include max-screen($breakpoint-medium) {
                padding: 0 1.6% 15px 1.6%;
            }
        }

        /* Large desktop - show 3 items*/
        @media (min-width: $breakpoint-extralarge) {
            width:33.3333%;
        }

        /* Portrait tablet to landscape and desktop - show 3 items*/
        @media (min-width: $breakpoint-large - 1) and (max-width: $breakpoint-extralarge - 1) {
           width:33.3333%;
        }

        /* Landscape phone to portrait tablet - show 2 items*/
        @media (max-width: $breakpoint-large - 1) {
          width: 50%;
        }

        /* Landscape phones and down - show 1 item*/
        @media (max-width: 580px) {
          width:100%;
        }
   
        img {
           display:block;
           text-align:center;
           width: 100%;
           height:auto;
           background:#ffffff;
        }
       
      } // .item close


.grid-blog {

    .grid-item-double {
    
        @media (min-width: $breakpoint-large) {
            width:66.6666666%;
        }

        @media (max-width: $breakpoint-large - 1) {
            width:100%;
        }

        .entry-title {
            font-size: 48px;
            line-height: normal;
            margin-top: 7.8%;
            margin-bottom: 30px;

             @media (max-width: $breakpoint-medium) {
               font-size: 25px;
            }
        }

        .wp-post-image {
            @media (max-width: $breakpoint-large) {
               margin-left: 0 !important;
               padding-bottom: 75%;
            }
        }
    }

    .wp-post-image {
        margin-bottom: 24px;
    }

    .entry-title {
        font-size: 19px;
        line-height: 1.6em;
        margin-bottom: 4px;
    }

    .entry-date {
        font-family: $second-font-family;
        font-size: 13px;
    }

    .entry-footer {
         margin-bottom: 18px;
    }

    .entry-content {
        font-size: 13px;

        p {
            margin-bottom: 17px;
        }
    }

    .entry-title,
    .entry-content,
    .entry-footer {
        @include max-screen($breakpoint-medium) {
            padding-left: 30px;
            padding-right: 30px;
        }

        .buzz-section & {
            @include max-screen($breakpoint-medium) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.blog {

    main {
        .container {
            @include max-screen($breakpoint-medium) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .btn-load-more {
            
            @include max-screen($breakpoint-extralarge) {
                margin-bottom: 75px;
            }

            @include max-screen($breakpoint-medium) {
                padding-left: 30px;
                padding-right: 30px;
                margin-bottom: 75px;
            }
        }
    }
}
