/*------------------------------------*\
    #PRELOADER
\*------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
}

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @-webkit-keyframes rotate {
        100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
    }

        .arc {
            position: relative;
            margin: 0 auto;
            width: 50px;
            height: 50px;
            border: 4px solid $color-primary;
            border-radius: 50%;
            -webkit-animation: rotate 2.9s infinite linear;
              animation: rotate 2.9s infinite linear;
        }

        .arc {
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -5px;
                width: 33px;
                height: 62px;
                background-color: #fff;
                -webkit-animation: rotate 2s infinite ease;
                      animation: rotate 2s infinite ease;
            }
        }

        .arc {
            &:before {
                left: -6px;
                -webkit-transform-origin: 29px 29px;
                  -ms-transform-origin: 29px 29px;
                      transform-origin: 29px 29px;

            }
        }

        .arc {
            &:after {
                left: 27px;
                -webkit-transform-origin: 0 29px;
                  -ms-transform-origin: 0 29px;
                      transform-origin: 0 29px;
                -webkit-animation-delay: 0.5s;
                      animation-delay: 0.5s;
            }
        }