/*------------------------------------*\
    #READ MORE
\*------------------------------------*/

.read-more {
    font-family: $second-font-family;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .3em;
    position: relative;

    &:after {
        content: '';
        height: 1px;
        background-color: #1f2021;
        position: absolute;
        top: 103%;
        left: 50%;
        right: 50%;
        transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
    }

    &:hover {
        text-decoration: none;

        &:after {
            left: -5px;
            right: 0;
        }
    }

    @include max-screen($breakpoint-medium) {

        &:after {
            display: none;
        }
    }
}