<section class="today-on-menu-section animation fade-top">
	<div class="container">
		<div class="flex-row--bottom">
			<div class="col-7">
				<div class="media">
					<div class="media-img" style="background-image: url('images/home/today-on-menu.jpg');">
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="media">
					<div class="media-counter"></div>
					<h2 class="media-heading">today</h2>
					<div class="media-list media-list--bottom">
						<div class="media-list__item">
							<span class="media-item__part">
								<dl>
									<dt>Suop</dt>
									<dd>Sed rhoncus consequat</dd>
								</dl>
							</span>
							<span class="media-item__part">£12,00</span>
						</div>
						<div class="media-list__item">
							<span class="media-item__part">
								<dl>
									<dt>Main Course</dt>
									<dd>Sed rhoncus consequat</dd>
								</dl>
							</span>
							<span class="media-item__part">£25,00</span>
						</div>
						<div class="media-list__item">
							<span class="media-item__part">
								<dl>
									<dt>Desert</dt>
									<dd>Sed rhoncus consequat</dd>
								</dl>
							</span>
							<span class="media-item__part">£8,00</span>
						</div>
					</div><!-- .media-list -->
				</div>
			</div>
		</div>
	</div><!-- /.container -->
</section><!-- /.today-on-menu-section -->