<section class="buzz-section">
	<div class="container">
		<div class="media media-center">
			<div class="media-counter"></div>
			<h2 class="media-heading">buzz</h2>
		</div><!-- /.media.media-white -->
		<div class="grid grid-blog animation fade-top">
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-13.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-10.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				  				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-15.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-22.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-10.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-6.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				  				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-15.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-8.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-10.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-17.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				  				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-15.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-13.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-10.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-17.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				  				</div>
		  	</div><!-- /.grid-item -->
		  	<div class="grid-item">
		  		<div class="article">
	  				<div class="entry-header">
						<a href="javascript:;">
							<img src="images/gallery/img-15.jpg" alt="" class="wp-post-image" />
						</a>
	  					<h2 class="entry-title"><a href="javascript:;">Sed do Eiusmod Tempor Incididunt ut Labore et Dolore Magna</a></h2>
	  				</div><!-- /.event-item-image -->
	  				<div class="entry-footer">
						<span class="posted-on">
							<time class="entry-date" datetime="2016-03-15T12:00:49+00:00">March 15, 2016</time>
						</span>
					</div>
	  				<div class="entry-content">
	  					<p>Maecenas vel nisl ante. Duis iaculis enim quis sodales dictum. Aenean ut imperdiet ex. Proin vitae consectetur massa, in interdum ligula...</p>
	  					<a href="javascript:;" class="read-more">Read more</a>
	  				</div><!-- /.entry-content -->
				</div>
		  	</div><!-- /.grid-item -->
		</div><!-- /.grid -->
		<div class="text-center">
			<a href="javascript:;" class="btn btn--primary" id="load-more">Load more</a>
		</div>
	</div><!-- /.container -->
</section><!-- /.buzz-section -->