<!-- Img slider -->
<div class="owl-carousel img-slider">
	<div class="img-slider__item" style="background-image: url('images/img-slider/slide-1.jpg');">
	</div>
	<div class="img-slider__item" style="background-image: url('images/img-slider/slide-1.jpg');">
	</div>
	<div class="img-slider__item" style="background-image: url('images/img-slider/slide-1.jpg');">
	</div><!-- end of .img-slider -->
</div>