<footer class="footer-main">
	<div class="footer-inner-wrap">
		<div class="footer-top">
			<div class="logo-address">
				<a href="home.html" class="custom-logo-link" rel="home">
					<img class="custom-logo" src="images/logo.svg" alt="company name" />
				</a>
				<address class="contact-data">
					<span class="address">Elizabeth House, 39 York Road, SE1 7NQ</span>
					<span class="phone">+ 44 (0)203 701 9186</span> | <span class="email"><a href="mailto:info@thehouselondon.com">info@thehouselondon.com</a></span>
				</address>
			</div><!-- /.logo-address -->
			<nav class="secondary-navigation v-line">
				<ul class="menu">
					<li class="menu-item">
						<a href="menu.html">Menu</a>
					</li>
					<li class="menu-item js-reservation-trigger">
						<a href="javascript:;">Reservation</a>
					</li>
					<li class="menu-item">
						<a href="gallery.html">Gallery</a>
					</li>
					<li class="menu-item">
						<a href="contact.html">Contact</a>
					</li>
					<li class="menu-item">
						<a href="blog.html">Blog</a>
					</li>
					<li class="menu-item">
						<a href="events.html">Events</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="footer-bottom">
			<div class="address-holder"></div><!-- /.address-holder -->
			<div class="footer-bottom-right">
				<ul class="social-links v-line">
					<li><a href="javascript:;">Instagram</a></li>
					<li><a href="javascript:;">Facebook</a></li>
					<li><a href="javascript:;">Twitter</a></li>
					<li><a href="javascript:;">Other</a></li>
				</ul>
				<div class="wrap">
					<a href="javascript:;" class="subscribe v-line js-subscribe-trigger">Subscribe to our newsletter</a>
					<a href="" class="back-to-top v-line">Back to top {{icon('icon-back-to-top', 'icon-back-to-top')}}</a>
				</div>
			</div>
			<div class="newsletter">
				<form action="" method="" class="newsletter-form">
					<input type="text" placeholder="Email address" class="input input--primary" />
					<div class="newsletter-inner-wrap">
						<button type="button" class="btn js-newsletter-close">
							{{icon('icon-close', 'icon-close')}}
						</button>
						<button type="submit" class="btn btn--secondary">Subscribe</button>
					</div>
				</form>
			</div><!-- /.newsletter -->
		</div>
	</div><!-- /.footer-inner-wrap -->
</footer>