<section class="instagram-section">
	<div class="flex-row flex-row--small animation fade-in">
		<div class="col-2@md col-4@sm col-4">
			<div class="img-to-bgr" style="background-image: url('images/instagram/instagram-1.jpg');">
			</div><!-- /.instagram -->
		</div><!-- /.col -->
		<div class="col-2@md col-4@sm col-4">
			<div class="img-to-bgr" style="background-image: url('images/instagram/instagram-2.jpg');">
			</div><!-- /.instagram -->
		</div><!-- /.col -->
		<div class="col-2@md col-4@sm col-4">
			<div class="img-to-bgr" style="background-image: url('images/instagram/instagram-3.jpg');">
			</div><!-- /.instagram -->
		</div><!-- /.col -->
		<div class="col-2@md col-4@sm col-4">
			<div class="img-to-bgr" style="background-image: url('images/instagram/instagram-4.jpg');">
			</div><!-- /.instagram -->
		</div><!-- /.col -->
		<div class="col-2@md col-4@sm col-4">
			<div class="img-to-bgr" style="background-image: url('images/instagram/instagram-5.jpg');">
			</div><!-- /.instagram -->
		</div><!-- /.col -->
		<div class="col-2@md col-4@sm col-4">
			<div class="img-to-bgr" style="background-image: url('images/instagram/instagram-1.jpg');">
			</div><!-- /.instagram -->
		</div><!-- /.col -->
	</div><!-- /.flex-row -->
</section><!-- /.instagram -->