<!-- Media slider -->
<div class="media-slider-wrap menu">
	<div class="owl-carousel media-slider">
		<div class="owl-item-wrap">
			<div class="media-slider__item" style="background-image: url('images/media-slider/slide-1.jpg');">
			</div>
			<div class="media-slider__content fade-in-top">
				<div class="media-slider-count"></div>
				<span class="meal-category">specialty of the house</span>
				<h2 class="media-slider-heading">kale
				<span>&</span> chicory salad </h2>
				<span class="price">£12</span>
				<a href="javascript:;" class="btn btn--secondary">Findout more</a>
			</div>
		</div><!-- /.owl-item-wrap -->
		<div class="owl-item-wrap">
			<div class="media-slider__item" style="background-image: url('images/media-slider/slide-2.jpg');">
			</div>
			<div class="media-slider__content fade-in-top">
				<div class="media-slider-count"></div>
				<span class="meal-category">specialty of the house</span>
				<h2 class="media-slider-heading">easy  <span>&</span> delicious mornings 2</h2>
				<span class="price">£12</span>
				<a href="javascript:;" class="btn btn--secondary">Findout more</a>
			</div>
		</div><!-- /.owl-item-wrap -->
		<div class="owl-item-wrap">
			<div class="media-slider__item" style="background-image: url('images/media-slider/slide-3.jpg');">
			</div><!-- end of .img-slider -->
			<div class="media-slider__content fade-in-top">
				<div class="media-slider-count"></div>
				<span class="meal-category">specialty of the house</span>
				<h2 class="media-slider-heading">easy <span>&</span>  delicious mornings 3</h2>
				<span class="price">£12</span>
				<a href="javascript:;" class="btn btn--secondary">Findout more</a>
			</div>
		</div><!-- /.owl-item-wrap -->
	</div>
	<a href="#next" class="scroll-to-next">scroll down</a>
</div><!-- /.media-slider-wrap -->