<section class="reservation-section animation fade-top">
	<div class="reservation-section-top">
		<div class="container">
			<div class="flex-row--bottom">
				<div class="col-7">
					<div class="media media-white">
						<div class="media-counter"></div>
						<h2 class="media-heading">reservations</h2>
						<p class="media-text">Mauris mattis nisi sit amet cursus pharetra. Quisque molestie luctus dictum. Vivamus rhoncus, purus sit amet consectetur cursus, lectus turpis suscipit leo.</p>
					</div><!-- /.media.media-white -->
				</div><!-- /.col-7 -->
				<div class="col-5">
					<div class="media text-right">
						<a href="javascript:;" class="btn btn--secondary btn--white js-reservation-trigger">Make a reservation</a>
					</div><!-- /.media -->
				</div><!-- /.col-5 -->
				<div class="col-12">
					<div class="spacer-white"></div><!-- /.spacer-white -->
				</div><!-- /.col-12 -->
			</div><!-- /.flex-row--bottom -->
		</div><!-- /.container -->
	</div><!-- /.reservation-section-top -->
	<div class="img-slider-wrap">
		<div class="owl-carousel img-slider">
			<div class="img-slider__item" style="background-image: url('images/img-slider/slide-1.jpg');">
			</div><!-- end of .img-slider__item -->
			<div class="img-slider__item" style="background-image: url('images/img-slider/slide-1.jpg');">
			</div><!-- end of .img-slider__item -->
			<div class="img-slider__item" style="background-image: url('images/img-slider/slide-1.jpg');">
			</div><!-- end of .img-slider__item -->
		</div><!-- end of .img-slider -->
	</div><!-- /.img-slider-wrap -->
</section><!-- /.reservation-section -->