<header class="header-main">
	<div class="search-wrap">
		<form role="search" method="get" class="search-form fade-in-bottom" action="">
			<label>
				<span class="screen-reader-text">Search</span>
				<input type="search" class="search-field input" placeholder="Search" value="" name="s" title="Search for:" />
			</label>
			<span>Press Enter to begin your search</span>
		</form>
		<button type="button" class="btn btn-close-search">{{ icon('icon-close', 'icon-close') }}</button>
	</div><!-- /.search-wrap -->
	<div class="reservation">
		<div class="reservation-intro" style="background-image: url('images/home/reservation.jpg');">
			<button type="button" class="btn btn-close-reservation">{{ icon('icon-close', 'icon-close') }}</button>
			<div class="reservation-info">
				{{ icon('icon-restaurant', 'icon-restaurant') }}
				<h1 class="reservation-heading">make a reservation</h1><!-- /.reseravion-heading -->
				<div class="reservation-desc">
					<span>Call us on 088 55 66 789</span> 
					<span>Our restaurant is open for all guests every</span> 
					<span>working day from 9 <sup>AM</sup> to 10<sup>PM</sup> and weekends from 11AM to 8PM.</span>
					<span>Bon appetite!</span>
				</div><!-- /.reseravion-desc -->
			</div><!-- /.reservation-info -->
		</div><!-- /.reservation-intro -->
		<div class="container container--small">
			<form class="reservation-form" action="" method="">
				<h3>Or Book Online</h3>
				<div class="flex-row">
					<div class="col-6">
						<input type="text" class="input input--primary" placeholder="Name and surename" />
					</div><!-- /.col-6 -->
					<div class="col-6">
						<input type="text" class="input input--primary" placeholder="Contact Phone" />
					</div><!-- /.col-6 -->
					<div class="col-6">
						<input type="email" class="input input--primary" placeholder="Email" />
					</div><!-- /.col-6 -->
					<div class="col-6">
						<select id="" placeholder="Number of guests">
							<option value="">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
						</select>
					</div><!-- /.col-6 -->
					<div class="col-6">
	                  <div class="input-wrap">
	                  	<input class="input input--primary datepicker" placeholder="Reservation Date" type="text">
	                  </div><!-- /.input-wrap -->
					</div><!-- /.col-6 -->
					<div class="col-6">
	                  <div class="input-wrap">
	                  	<select id="" placeholder="Prefered Time">
							<option value="">10:00 AM</option>
							<option value="1">10:30 AM</option>
							<option value="2">11:00 AM</option>
							<option value="3">11:30 AM</option>
							<option value="4">12:00 AM</option>
							<option value="5">12:30 PM</option>
							<option value="6">13:00 PM</option>
						</select>
	                  </div><!-- /.input-wrap -->
					</div><!-- /.col-6 -->
					<div class="col-12">
						<textarea name="msg" class="input input--textarea" placeholder="Additional requirements" onkeyup="auto_grow(this)"></textarea>
					</div><!-- /.col -->
					<div class="col-12">
						<div class="text-center">
							<input type="submit" value="Book now" class="btn btn--secondary" />
						</div><!-- /.float-center -->
					</div><!-- /.col -->
				</div><!-- /.flex-row -->
			</form><!-- /.form -->
		</div><!-- /.container container--small -->
	</div><!-- /.reservation -->
	<button type="button" class="btn js-btn-search">{{ icon('icon-search', 'icon-search') }}</button>
	<button type="button" class="btn js-btn-burger"><span class="burger"></span></button>
	<nav class="primary-navigation">
		<ul class="menu">
			<li {% if menu %} class="menu-item current-menu-item" {% elseif !menu %} class="menu-item" {% endif %}>
				<a href="menu.html">Menu</a>
			</li>
			<li class="menu-item js-reservation-trigger">
				<a href="javascript:;">Reservation</a>
			</li>
			<li {% if gallery %} class="menu-item current-menu-item" {% elseif !gallery %} class="menu-item" {% endif %}>
				<a href="gallery.html">Gallery</a>
			</li>
		</ul>
		<a href="home.html" class="custom-logo-link" rel="home">
			<img class="custom-logo" src="images/logo.svg" alt="company name" />
		</a>
		<ul class="menu">
			<li {% if contact %} class="menu-item current-menu-item" {% elseif !contact %} class="menu-item" {% endif %}>
				<a href="contact.html">Contact</a>
			</li>
			<li  {% if blog %} class="menu-item current-menu-item" {% elseif !blog %} class="menu-item" {% endif %}>
				<a href="blog.html">Blog</a>
			</li>
			<li  {% if events %} class="menu-item current-menu-item" {% elseif !events %} class="menu-item" {% endif %}>
				<a href="events.html">Events</a>
			</li>
		</ul>
	</nav><!-- /.primary-navigation -->
	<button type="button" class="btn js-reservation-trigger">{{ icon('icon-reservation', 'icon-reservation') }}</button>
</header>

<nav class="responsive-navigation">
	<button type="button" class="btn js-btn-search">{{ icon('icon-search', 'icon-search') }}</button>
	<ul class="menu">
		<li {% if menu %} class="menu-item current-menu-item" {% elseif !menu %} class="menu-item" {% endif %}>
			<a href="menu.html">Menu</a>
		</li>
		<li class="menu-item js-reservation-trigger">
			<a href="javascript:;">Reservation</a>
		</li>			<li {% if gallery %} class="menu-item current-menu-item" {% elseif !gallery %} class="menu-item" {% endif %}>
			<a href="gallery.html">Gallery</a>
		</li>
		<li {% if contact %} class="menu-item current-menu-item" {% elseif !contact %} class="menu-item" {% endif %}>				<a href="contact.html">Contact</a>
		</li>
		<li  {% if blog %} class="menu-item current-menu-item" {% elseif !blog %} class="menu-item" {% endif %}>
			<a href="blog.html">Blog</a>
		</li>
		<li  {% if events %} class="menu-item current-menu-item" {% elseif !events %} class="menu-item" {% endif %}>
			<a href="events.html">Events</a>
		</li>
	</ul>
</nav>
