<section class="animation fade-top">
	<div class="container">
		<div class="info-box">
			<div class="info-box__icon">
				{{icon('icon-clock', 'icon-clock')}}
			</div>
			<p>
				<span>Our restaurant is open for all guests every working day from</span> 
				<span>9<sup>AM</sup> to 10<sup>PM</sup> and weekends from 11<sup>AM</sup> to 8<sup>PM</sup>. </span> 
				<span>Bon appetite!</span>
			</p>
		</div>
		<div class="spacer-black"></div><!-- /.spacer-black -->
	</div><!-- /.container -->
</section><!-- /.animation fade-top -->