<section class="menu-section animation fade-top">
	<div class="container">
		<div class="flex-row--bottom">
			<div class="col-4">
				<div class="media">
					<div class="media-counter"></div>
					<h2 class="media-heading">menu</h2>
					<p class="media-text">Mauris mattis nisi sit amet cursus pharetra. Quisque molestie luctus dictum. Vivamus rhoncus, purus sit amet consectetur cursus, lectus turpis suscipit leo.</p>
					<a href="menu.html" class="btn btn--primary">Findout More</a>
				</div>
			</div>
			<div class="col-8">
				<div class="media">
					<div class="media-img" style="background-image: url('images/home/menu.jpg');">
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.container -->
</section><!-- /.menu-section -->