<!-- Image slider with caption -->
<div class="img-slider-with-caption-wrap">
	<div class="owl-carousel img-slider-caption">
		<div class="img-slider__item" style="background-image: url('images/content-slider/slide-1.jpg');">
			<div class="picture-subtitle">Picture subtitle 1</div>
		</div>
		<div class="img-slider__item" style="background-image: url('images/content-slider/slide-2.jpg');">
			<div class="picture-subtitle">Picture subtitle 2</div>
		</div>
		<div class="img-slider__item" style="background-image: url('images/content-slider/slide-3.jpg');">
			<div class="picture-subtitle">Picture subtitle 3</div>
		</div><!-- end of .img-slider -->
	</div>
	<div class="subtitle-text"></div>
</div>