<section class="animation fade-top">
	<div class="info-box">
		<div class="info-box__icon" id="next">
			{{icon('icon-cutlery', 'icon-cutlery')}}
		</div>
		<p>Excepteur sint occaecat cupidatat non proident.
		Sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.</p>
	</div><!-- /.info-box -->
</section><!-- /.info-box -->
