<div class="basket">
	<div class="basket-nav">
		<header>Your Basket 
			<span class="products-quantity">(3)</span>
		</header>
		<button type="button" class="btn js-btn-close">
			{{ icon('icon-close', 'icon-close') }}
		</button>
	</div><!-- /.basket-nav -->
	<ul class="products-list">
		<li class="product-item">
			<div>
				<button type="button" class="btn js-remove-product">
					{{ icon('icon-close', 'icon-close') }}
				</button> 
				<span class="product-name">Simple Salad</span>
			</div> 
			<div>
				<button type="button" class="btn">
					{{ icon('icon-minus', 'icon-minus') }}
				</button> 
				<span class="product-number">1</span> 
				<button type="button" class="btn">
					{{ icon('icon-plus', 'icon-plus') }}
				</button>
				<span class="product-total">20</span>
			</div>
		</li>
		<li class="product-item">
			<div>
				<button type="button" class="btn js-remove-product">
					{{ icon('icon-close', 'icon-close') }}
				</button> 
				<span class="product-name">Raven & Boar Ham & Cheddar 17/23</span>
			</div> 
			<div>
				<button type="button" class="btn">
					{{ icon('icon-minus', 'icon-minus') }}
				</button> 
				<span class="product-number">1</span> 
				<button type="button" class="btn">
					{{ icon('icon-plus', 'icon-plus') }}
				</button>
				<span class="product-total">20</span>
			</div>
		</li>
		<li class="product-item">
			<div>
				<button type="button" class="btn js-remove-product">
					{{ icon('icon-close', 'icon-close') }}
				</button> 
				<span class="product-name">Asparagus & Mushroom Rigatoni</span>
			</div> 
			<div>
				<button type="button" class="btn">
					{{ icon('icon-minus', 'icon-minus') }}
				</button> 
				<span class="product-number">1</span> 
				<button type="button" class="btn">
					{{ icon('icon-plus', 'icon-plus') }}
				</button>
				<span class="product-total">20</span>
			</div>
		</li>
	</ul><!-- /.product-list -->
	<div class="products-total">
		<span>Total</span>
		<span class="total-price">90</span>
	</div><!-- /.total -->
	<a href="javascript:;" class="btn btn--secondary btn--full">Order now</a>
</div><!-- /.basket -->