/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font-family;
	font-weight: bold;
	color: $base-title-color;
	margin-bottom: 16px;
	line-height: 1.1em;

    > a {
        color: inherit;
    }
}

h1 {
	font-size: 48px;
	margin-bottom: 14px;
	line-height: 60px;

	@include max-screen($breakpoint-large) {
		font-size: 29px;
		line-height: 40px;
	}

	.page-template-template-menu &{
		font-size: 55px;
		margin-bottom: 30px;

		@include max-screen($breakpoint-large) {
			font-size: 41px;
		}

		@include max-screen($breakpoint-medium) {
			font-size: 31px;
			text-align: center;
		}
	}
}

h2 {
	font-size: 31px;
}

h3 {
	font-size: 21px;

	@include max-screen($breakpoint-large - 2) {
		font-size: 15px;
	}
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 15px;
}