/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Typographical base selectors.
 */

/**
 * Horizontal rules.
 */
hr {
    background-color: none;
    background-image: url('images/pattern.png');
    border: none;
    margin-bottom: $spacing-unit;
    height: 31px;
}

/**
 * Wordpress class for styling content typography elements
 */
.entry-content {
   
    img,
    p,
    ul,
    ol,
    pre {
        &:not(:last-child) {
            margin-bottom: $spacing-unit;
        }
    }

    .embedded {

        &:not(:last-child) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        
    }
    
    i,
    em {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 700;
    }

    p {
        + h2,
        + h3 {
            margin-top: 40px;
        }

        + h4 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        + blockquote {
            margin-top: 33px;
        }

        a {
            position: relative;

            &:after {
                content: '';
                height: 1px;
                background-color: $color-primary;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all .3s ease;
            }

            &:hover {
                text-decoration: none;

                &:after {
                    left: 10%;
                    right: 10%;
                }
            }

            &.btn {
                &:after {
                    display: none;
                }
            }
        }
    }

    h1 {
        + h3 {
            margin-top: 35px;
        }
    }

    h2, h3, h4 {

        + ul {
            margin-top: 25px;
        }
    }

    h3 {
        + p {
            margin-top: 25px;
        }
    }


    ul, ol {
        margin-left: 20px;
        list-style-type: none;
    }
}

figure {
    margin-bottom: 40px;

    .single-post & {

        @include max-screen($breakpoint-large) {
            margin-left: -125px;
            margin-right: -125px;
        }
    }

    img {
        width: 100%;
        .single-post & {
            margin-top: 30px;
        }
    }
}
    
figcaption {
    font-family: $second-font-family;
    color: $color-primary;
    margin-top: -5px;
    font-size: 13px;

    .single-post & {

        @include max-screen($breakpoint-large - 2) {
            margin-left: 125px;
        }
    }
}

.lead {
    font-size: 19px;
    color: $color-primary;
    margin-bottom: 17px;
    line-height: 1.53em;

    @include max-screen($breakpoint-medium) {
        font-size: 17px;
    }

    .entry-content & {
        margin-bottom: 35px !important;
    }
}

.ol-list,
    .ul-list  {

        li {
            position: relative;
            padding-left: 20px;

            &:not(:last-child) {
                padding-bottom: 11px;
            }
        }

        a {
            word-break: break-word;
        }
    }

    .ul-list {

        * {
            &:before {
                content: '';
                height: 8px;
                width: 8px;
                position: absolute;
                left: 0;
                top: 6px;
            }
        }

        > li {

            &:before {
                background-color: $base-text-color;
                border-radius: 50%;
            }

            > ul  {

                > li {

                    &:before {
                        background-color: transparent;
                        border: 2px solid $base-text-color;
                        border-radius: 50%;
                    }

                    li {

                        &:before {
                            height: 2px;
                            width: 7px;
                            background-color: $base-text-color;
                            top: 10px;
                        }
                    }
                }
            }
        }

        ul {
            padding-top: 11px;
            margin-left: 10px;
        }
    }

    .ol-list {
        counter-reset: first-level;

        * {
            &:before {
                position: absolute;
                left: 0;
                color: $base-text-color;
                font-weight: bold;
            }
        }

        > li {
            counter-increment: first-level;

            &:before {
                content: counter(first-level, decimal) '.';
            }


            > ol {
                counter-reset: second-level;

                > li {
                    counter-increment: second-level;
                    padding-left: 30px;

                    &:before {
                        content: counter(first-level, decimal) '.' counter(second-level, decimal);
                    }

                    ol {
                        counter-reset: third-level;

                        li {
                            counter-increment: third-level;
                            padding-left: 41px;

                            &:before {
                                content: counter(first-level, decimal) '.' counter(second-level, decimal) '.' counter(third-level, decimal);
                            }
                        }
                    }
                }

            }

        }

        ol {
            padding-top: 11px;
            margin-left: 10px;
        }
    }


.num-list {
    counter-reset: num-list;
    margin-left: 0 !important;
    text-align: left;

    li {
        position: relative;
        margin-bottom: 24px;
        padding-left: 57px;
        counter-increment: num-list;

        &:before {
            content: counter(num-list);
            height: 28px;
            width: 28px;
            line-height: 28px;
            text-align: center;
            font-family: $second-font-family;
            font-size: 13px;
            color: #fff;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            left: 0;
        }
    }
}

blockquote {
    text-align: center;
    margin-left: -27%;
    margin-right: -27%;
    font-size: 27px;
    color: $color-primary;
    margin-bottom: 60px;
    padding-top: 20px;

    .single-post & {

        @include max-screen(1220px) {
            margin-left: -150px;
            margin-right: -150px;
        }

        @include max-screen($breakpoint-extralarge) {
            margin-left: -30px;
            margin-right: -30px;
        }

        @include max-screen($breakpoint-medium) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    .page-template-default .entry-content &,
    .page-template-template-default .entry-content & {
        margin-left: -5%;
        margin-right: -5%;

        @include max-screen(1220px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include max-screen($breakpoint-extralarge) {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 40px;
    }

    cite {
        display: block;
        font-family: $second-font-family;
        font-size: 13px;
        color: $base-text-color;
        margin-top: -10px;
        font-style: normal;
    }
}

dt {
    color: $color-primary;
}

.page-template-default .entry-content,
.page-template-template-default .entry-content {
    ul  {
        margin-left: 0 !important;

        li {
            position: relative;
            margin-bottom: 24px;
            padding-left: 25px;

            &:before {
                content: '';
                height: 7px;
                width: 7px;
                line-height: 7px;
                text-align: center;
                font-family: $second-font-family;
                font-size: 13px;
                color: #fff;
                background-color: $color-primary;
                border-radius: 50%;
                position: absolute;
                top: 7px;
                left: 0;
            }
        }

        a {
            word-break: break-word;
        }
    }

    ol {
        counter-reset: num-list;
        margin-left: 0 !important;
        text-align: left;

        li {
            position: relative;
            margin-bottom: 24px;
            padding-left: 57px;
            counter-increment: num-list;

            &:before {
                content: counter(num-list);
                height: 28px;
                width: 28px;
                line-height: 28px;
                text-align: center;
                font-family: $second-font-family;
                font-size: 13px;
                color: #fff;
                background-color: $color-primary;
                border-radius: 50%;
                position: absolute;
                top: 3px;
                left: 0;
            }
        }
    }
}