/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: $base-font-family;
    position: relative;
    overflow-x: hidden;

   
    	&.js {

    		@include max-screen(782px) {
    	 		margin-top: 0 !important;
    		}
    	}

    	#wpadminbar {

    		@include max-screen(782px) {
    	 		position: fixed !important;
    		}
		    
		}
}

//Top bar and header styles (when user logged in WP admin)
.hide-top-bar {
	.logged-in {
		.header-main {
			top: 32px;
		}
	}
}

.logged-in {

	&.has-top-bar {

		.header-main {
			top: 46px;

			@include max-screen(1080px) {
				top: 46px !important;
			}
		}
	}

	.header-main {
		top: 32px;

		@include max-screen(1080px) {
			top: 46px !important;
		}
	}
}

main {
	counter-reset: section-count;
	padding-top: 50px;

	@include max-screen(1080px) {
		padding-top: 10px;
	}

	.single-event & ,
	.blog & {
		padding-bottom: 80px;

		@include max-screen($breakpoint-large) {
			padding-bottom: 40px;
		}
	}
}

body {
	padding-top: 80px;
	
	&.has-top-bar {
	    padding-top: 138px;

	    @include max-screen(1080px) {
			padding-top: 80px;
		}
    }

	@include max-screen($breakpoint-medium) {
		overflow-x: hidden;  
	}
}